ion-toolbar {
    --background: url('/assets/img/background.png') 0%; //#46895c
    --color: white;

    --padding-top: 20px;
    --padding-bottom: 20px;
}

ion-content {
    --background: #eef1ee;
}

span {
    color: #15601b;
    font-weight: bold;
    font-style: italic;
}

ion-icon.ion-close-icon {
    font-size: 25px;
}