<ion-header>
  <ion-toolbar [ngStyle]="{'padding-top': isOverlay ? '20px' : '0px' }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>L'accent</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" size="medium" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-margin">
    <app-accordion [contents]="contents"></app-accordion>
  </div>
  <div class="ion-text-center ion-margin-bottom">
    <ion-button (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>