ion-content {
    --background: #eef1ee;
}

ion-content>div {
    background: var(--ion-background-light-color);
}

ion-toolbar {
    --background: url(/assets/img/background.png) 0% / 130%;
    --color: white;
    --min-height: 80px;
}

ion-list {
    background-color: transparent;
    width: 100%;
}

ion-accordion {
    background: transparent;
    border-radius: 15px;
}

ion-accordion.ion-firststep {
    margin-top: 10px;
}

ion-item {
    --background: transparent;
    margin-bottom: 10px;
}

span {
    color: #15601b;
    font-weight: bold;
    font-style: italic;
}

.ion-header-accordion {
    font-weight: bold;
}

.ion-upload {
    border: 1px #40855e solid;
}