<ion-header>
  <ion-toolbar [ngClass]="{'ion-is-capacitor': isCapacitor }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>L'alphabet</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p>Le comorien en général ne dispose pas encore d'alphabet officiel. Celui
    que j'ai adopté ici est celui que j'ai déjà mis en pratique dans mes différentes
    publications et qui est aujourd'hui largement répandu.</p>
  <div>
    <ion-accordion-group [multiple]="true" [value]="['voyelle']">
      <ion-accordion value="voyelle" class="ion-margin-bottom" toggleIcon="chevron-down-outline" toggleIconSlot="end">
        <ion-item lines="none" slot="header">
          <ion-label class="ion-text-wrap">Les voyelles</ion-label>
        </ion-item>
        <div class="ion-padding-horizontal" slot="content">
          <p>L'anjouanais en compte cinq. Ce sont :</p>
          <p><b>- i</b> : qui se prononce à peu près comme dans le mot français <i>pitié</i>,
            qu'elle soit précédée ou non par d'autres voyelles. Ex. : <span>watiti</span>
            "petits"; <span>faida</span> lire fa-i-da) "profit"...</p>
          <p><b>- u</b> : qui se prononce à peu près comme le <i>ou</i> français dans
            <i>caoutchouc</i>. Ex. : <span>uzuri</span> "beauté"; <span>putu</span> "piment"...
          </p>
          <p><b>- e</b> : qui se prononce à peu près comme le <i>é</i> français dans <i>péché, aérer</i>.
            Ex. : <span>bele</span> "sein"; <span>upeu</span> lire u-pe-u) "méchanceté"..., ou comme
            le <i>è</i> français dans <i>flèche, près</i>. Ex. <span>-lea</span> "élever", <span>-tseha</span> "rire"...
          </p>
          <p><b>- o</b> : qui se prononce à peu près comme le <i>o</i> français dans <i>moto, coche,
              cambrioler</i>. Ex.: <span>popo</span> "balle de fusil"; <span>pao</span> "trèfle (jeu de
            cartes)"; <span>boi</span> lire bo-i) "domestique"..., ou encore dans <i>poste,
              flore</i>. Ex. <span>-toa</span> "enlever, sortir", <span>kosa</span> "erreur, faute"...</p>
          <p><b>- a</b> : qui se prononce comme le <i>a</i> français dans <i>papa, oasis</i>. Ex. :
            <span>mataba</span> "feuille de manioc"; <span>-bauha</span> (lire ba-u-ha) "éviter"...
            Dans certains mots (qui sont pour la plupart des emprunts à l'arabe), on
            trouve des voyelles nasalisées: elles seront alors coiffées d'un accent
            circonflexe (^). Ex. : <span>îdi</span> "fête"; <span>ûdi</span> "luth"; <span>âda</span> "coutume"...
          </p>
        </div>
      </ion-accordion>
      <ion-accordion value="consonne" class="ion-margin-bottom" toggleIcon="chevron-down-outline" toggleIconSlot="end">
        <ion-item lines="none" slot="header">
          <ion-label class="ion-text-wrap">Les consonnes</ion-label>
        </ion-item>
        <div slot="content">
          <div class="ion-padding-horizontal">
            <p>Pour ne pas compliquer inutilement l'alphabet du comorien en créant des
              signes particuliers, on a préféré employer les lettres qu'on trouve sur toutes
              les machines à écrire. On a donc été amené parfois à utiliser pour une seule
              consonne, deux ou trois lettres. L'anjouanais compte 40 consonnes,
              présentées dans le tableau suivant:</p>
          </div>
          <!-- tableau -->
          <ion-grid class="ion-text-center ion-grid-table">
            <ion-row>
              <ion-col></ion-col>
              <ion-col>lab-<br />iales</ion-col>
              <ion-col>dent-<br />ales</ion-col>
              <ion-col>alvéol-<br />aires</ion-col>
              <ion-col>pala-<br />tales</ion-col>
              <ion-col>dorso-<br />vélaires</ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-line-break-anywhere">occlusives</ion-col>
              <ion-col>p<br />b</ion-col>
              <ion-col>t<br />d</ion-col>
              <ion-col>tr<br />dr</ion-col>
              <ion-col></ion-col>
              <ion-col>k<br />g</ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-line-break-anywhere">fricatives</ion-col>
              <ion-col>f<br />v</ion-col>
              <ion-col>th<br />dh</ion-col>
              <ion-col>s<br />z</ion-col>
              <ion-col>sh<br />j</ion-col>
              <ion-col>(kh)<br />h<br />(gh)</ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-line-break-anywhere">nasales</ion-col>
              <ion-col>m</ion-col>
              <ion-col></ion-col>
              <ion-col>n</ion-col>
              <ion-col>ny</ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-line-break-anywhere">mi-nasales</ion-col>
              <ion-col>mp<br />mb</ion-col>
              <ion-col>nt<br />nd</ion-col>
              <ion-col>ntr, nts<br />ndr, ndz</ion-col>
              <ion-col>ntsh<br />ndj</ion-col>
              <ion-col>nk<br />ng</ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-line-break-anywhere">affriquées</ion-col>
              <ion-col></ion-col>
              <ion-col></ion-col>
              <ion-col>ts<br />dz</ion-col>
              <ion-col>tsh<br />dj</ion-col>
              <ion-col></ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
              <ion-col class="ion-line-break-anywhere">continues</ion-col>
              <ion-col>w</ion-col>
              <ion-col></ion-col>
              <ion-col>l, r</ion-col>
              <ion-col>y</ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-grid>

          <p>Ces consonnes (à l'exception des semi-consonnes "w" et "y") peuvent être
            vélarisées. Elles reçoivent alors un "w" (ex: pw, bw, tw, ...)</p>

          <p>- Les consonnes <span>p, t, k, f, z, j, l</span> se prononcent à peu près comme en
            français.</p>
          <p>- les consonnes <span>b</span> et <span>d</span> ont deux réalisations [b] - [<span>ɓ</span>] et [d] -
            [<span>ɗ</span>] La réalisation
            non-implosive se rencontre surtout dans les mots d'emprunt
            (principalement à l'arabe). La confusion entre les deux réalisations étant
            presque nulle, on a donc préféré ne pas les distinguer dans l'écriture.</p>
          <p>- la consonne <span>v</span> se prononce à peu près comme en français .</p>
          <p>- la consonne <span>g</span> se prononce toujours comme le gu français dans guide.</p>
          <p>- la consonne <span>th</span> se prononce comme le th anglais dans <i>think</i>.</p>
          <p>- la consonne <span>dh</span> correspond au th anglais dans <i>that</i>.</p>
          <p>- les consonnes <span>kh</span> et <span>gh</span> sont des fricatives vélaires (sourde et sonore) qui
            ne sont attestées en anjouanais que dans les prononciations étymologisantes.
            Elles sont rendues la plupart du temps par h.</p>
          <p>- la consonne <span>sh</span> se prononce comme le <i>ch</i> français dans <i>chat</i> ou le
            <span>sh</span>
            anglais dans <span>shoe</span>. La consonne <span>tsh</span> correspond donc au français <span>tch</span>
            dans
            <span>caoutchouc</span>.
          </p>
          <p>- la consonne <span>ny</span> se prononce comme dans le gn français dans gagner.</p>
          <p>- les consonnes <span>m</span> et <span>n</span> se prononce à peu près comme en français. Mais,
            lorsqu'elles précèdent une autre consonne, elles se prononcent à peu près à
            la manière marseillaise: <span>tro-mper, to-mber, ta-ntacule, a-ndouille</span>, ...
            Toutefois, lorsque <span>m</span> est préfixe de classe, il se réalise comme une syllabe
            autonome. Ex. <i>mlongo</i> (prononcer: m-longo) "porte".</p>
          <p>- les consonnes <span>ts, dz et dj</span> ne présentent pas de difficulté particulière
            pour les francophones.</p>
          <p>- la consonne <i>r</i> est toujours roulée.</p>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="ion-text-center ion-margin-bottom">
    <ion-button (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>