<ion-header>
  <ion-toolbar>
    <ion-title>
      Lagua New
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <h1><ion-icon class="ion-arrow-back-position" size="large" name="arrow-back-circle-outline" [routerLink]="['/tabs/lessons']"></ion-icon> L'ALPHABET</h1>
  <p>Le comorien en général ne dispose pas encore d'alphabet officiel. Celui
    que j'ai adopté ici est celui que j'ai déjà mis en pratique dans mes différentes
    publications et qui est aujourd'hui largement répandu.</p>
  <h2>Les voyelles</h2>
  <p>L'anjouanais en compte cinq. Ce sont :
    - i: qui se prononce à peu près comme dans le mot français pitié,
    qu'elle soit précédée ou non par d'autres voyelles. Ex. : watiti
    "petits" ; faida Oire fa-i-da) "profit"...
    - u: qui se prononce à peu près comme le ou français dans
    caoutchouc. Ex. : uzurl "beauté" ; putu "piment"...
    - e : qui se prononce à peu près comme le é français dans péché, aérer.
    Ex. : bele "sein" ; upeu Oire u-pe-u) "méchanceté"..., ou comme
    le è français dans flèche, près. Ex. -lea "élever", -tseha "rire"...
    - o : qui se prononce à peu près comme le o français dans moto, coche,
    cambrioler. Ex.: popo "balle de fusil" ; pao "trèfle (jeu de
    cartes)" ; boi Oire bo-i) "domestique"..., ou encore dans poste,
    flore. Ex. -toa "enlever, sortir", kosa "erreur, faute"...
    - a: qui se prononce comme le a français dans papa, oasis. Ex. :
    mataba "feuille de manioc" ; -bauha (lire ba-u-ha) "éviter"...
    Dans certains mots (qui sont pour la plupart des emprunts à l'arabe), on
    trouve des voyelles nasalisées: elles seront alors coiffées d'un accent
    circonflexe (^). Ex. : îdi "fête" ; ûdi "luth" ; âda "coutume"...</p>
  <h2>Les consonnes</h2>
  <p>Pour ne pas compliquer inutilement l'alphabet du comorien en créant des
    signes particuliers, on a préféré employer les lettres qu'on trouve sur toutes
    les machines à écrire. On a donc été amené parfois à utiliser pour une seule
    consonne, deux ou trois lettres. L'anjouanais compte 40 consonnes,
    présentées dans le tableau suivant:</p>

  <!-- tableau -->

  <p>Ces consonnes (à l'exception des semi-consonnes "w" et "y") peuvent être
    vélarisées. Elles reçoivent alors un "w" (ex: pw, bw, tw, ...)</p>

  <p>- Les consonnes p, t, k, f, z, j, I se prononcent à peu près comme en
    français.
    - les consonnes b et d ont deux réalisations [b] - [ɓ] et [d] - [ɗ] La réalisation
    non-implosive se rencontre surtout dans les mots d'emprunt
    (principalement à l'arabe). La confusion entre les deux réalisations étant
    presque nulle, on a donc préféré ne pas les distinguer dans l'écriture.</p>

    <p>- la consonne v se prononce à peu près comme en français .
      - la consonne g se prononce toujours comme le gu français dans guide.
      - la consonne th se prononce comme le th anglais dans think.
      - la consonne dh correspond au th anglais dans that.
      - les consonnes kh et gh sont des fricatives vélaires (sourde et sonore) qui
      ne sont attestées en anjouanais que dans les prononciations étymologisantes.
      Elles sont rendues la plupart du temps par h.
      - la consonne sh se prononce comme le ch français dans chat ou le sh
      anglais dans shoe. La consonne tsh correspond donc au français tch dans
      caoutchouc.
      - la consonne ny se prononce comme dans le gn français dans gagner.
      - les consonnes m et n se prononce à peu près comme en français. Mais,
      lorsqu'elles précèdent une autre consonne, elles se prononcent à peu près à
      la manière marseillaise: tro-mper, to-mber, ta-ntacule, a-ndouille, ...
      Toutefois, lorsque m est préfixe de classe, il se réalise comme une syllabe
      autonome. Ex. mlongo (prononcer: m-longo) "porte"
      - les consonnes ts, dz et dj ne présentent pas de difficulté particulière
      pour les francophones.
      - la consonne r est toujours roulée.</p>
</ion-content>