<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-button class="ion-margin-end" slot="end" color="light" size="small"
      >Se connecter</ion-button
    >
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="full">
    <ion-label>Pourquoi apprenez-vous l'anglais ?</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label>Pour faire travailler mon cerveau</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label>Pour communiquer avec des amis ou de la famille</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label
      >Je me suis fixé l'objectif d'acquérir une nouvelle compétence dans un
      certain délai</ion-label
    >
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label
      >J'aime le pays concerné et j'ai envie d'apprendre la langue'</ion-label
    >
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label>J'aime tout simplement apprendre des langues</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label>Pour m'intégrer dans un pays</ion-label>
  </ion-item>
  <ion-item lines="full">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label>Autre</ion-label>
  </ion-item>
</ion-content>
