ion-content {
  --ion-background-color: linear-gradient(#46895c, #99cfa9);
}

ion-item {
  --ion-background-color: transparent !important;
}

.ion-bloc-error.p-error {
  // --ion-background-color: #ffe7e6 !important;
  // --color: #ff5757;
  // --border-color:#ff5757;
  // --border-width: 1px;
  // --border-radius: 10px;
  font-weight: bold;
  // padding: 5px 0;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

ion-col {
  height: 100%;
}

ion-button {
  --border-radius: 10px;
}

.ion-content-button ion-button {
  --border-radius: 10px;
  font-size: 14px;
  font-weight: 100;
}

.logo ion-icon {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ion-login-img {
  height: 70%;
  filter: invert(1);
  animation: 1s;
}

.logo {
  position: relative;
  height: 30%;
}

.content {
  height: 70%;
}

.ion-client-login-custom {
  font-size: 16px;
}

ion-label.ion-text-other {
  display: flex;
  flex-direction: row;
}

ion-label.ion-text-other:before,
ion-label.ion-text-other:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #ffffff;
  margin: auto;
}

ion-label.ion-text-other:before {
  margin-right: 5px;
}

ion-label.ion-text-other:after {
  margin-left: 5px;
}

.ion-other-inscription ion-button {
  --border-radius: 10px;
}

.item-has-focus {
  --highlight-background: #ffffff;
}