ion-content {
  --ion-background-color: linear-gradient(#46895c, #99cfa9);
}

ion-item {
  --ion-background-color: transparent !important;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

ion-col {
  height: 100%;
}

ion-button {
  --border-radius: 10px;
}

.ion-content-button ion-button {
  --border-radius: 10px;
  font-size: 14px;
  font-weight: 100;
}

.logo ion-icon {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  height: 30%;
}

.content {
  height: 70%;
}

.ion-client-login-custom {
  font-size: 16px;
}
