<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>L'accent</ion-title>
    <ion-icon class="ion-margin-end" slot="end" size="medium" name="home-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p>L'anjouanais est une langue accentuelle : tous les mots reçoivent un accent.
    Mais contrairement à ce qui se passe par exemple en swahili où l'accent
    tombe toujours sur l'avant-dernière syllabe ou pénultième, en anjouanais,
    l'accent peut tomber sur toute syllabe: un mot peut très bien être accentué
    sur la syllabe finale (ex. : <span>nyumbá</span> "maison"), la pénultième (ex. : <span>nyóshi</span>
    "abeille"), l'anté-pénultième (ex. : <span>lávani</span> "vanille) et même avant. Dans une
    phrase, la place de ces accents peut varier, et l'accent reporté sur une autre
    syllabe. Les règles de ces déplacements sont trop complexes pour être
    énumérées dans le cadre du présent ouvrage. Je me contenterai ici de noter,</p>
  <p>avec un accent aigu, la place de la syllabe accentuée, aussi bien dans les
    entrées que dans les exemples (ces accents aigus ne sont donnés qu'à titre
    informatif: ils ne seront pas notés dans l'orthographe normale). Toutefois,
    aucun accent n'est marqué dans les entrées sur les mots (les plus nombreux)
    qui sont accentués sur la pénultième.</p>
  <p>Sans entrer dans un exposé complet des règles de l'accentuation, il est
    pourtant nécessaire de distinguer deux catégories de mots selon leur
    comportement accentuel.</p>
  <p>Ces deux catégories seront nommées respectivement "accentogène" et
    "non-accentogène". Ainsi par exemple, les mots <span>dágo</span> "maison" et <span>ndzía</span>
    "chemin", sont tous deux accentués sur la pénultième à l'état isolé. Mais leur
    comportement n'est pas le même si on leur adjoint le suffixe locatif -ni j on
    obtient pour le premier <span>dagóni</span> "à la maison" et, pour le deuxième <span>ndzianí</span>
    "en chemin". On posera que le premier est accentogène et le deuxième, nonaccentogène.
    Une mention spéciale entre parenthèses (non-accentog.) permet
    de repérer les mots qui ont ce comportement particulier. Tous les mots qui, à
    l'état isolé, portent l'accent sur une syllabe autre que la pénultième, sont
    accentogènes.</p>
  <p>Les verbes disyllabiques se divisent eux aussi en deux catégories: les
    <i>accentogènes</i> et les <i>non-accentogènes</i>. Ainsi, <span>-vúna</span> "récolter" et <span>-vúka</span> "s'en
    sortir" sont respectivement <i>accentogène</i> (pour le premier) et <i>non-accentogène</i>
    (pour le deuxième). Cette distinction joue un rôle important pour connaître,
    par exemple, la forme de l'accompli des verbes. En effet un verbe
    accentogène comme <span>-vuna</span> donne une forme d'accompli <i>avúnu</i> "il a récolté",
    tandis que un verbe non-accentogène, comme <span>-vuka</span> donne à l'accompli
    <i>avukú</i> "il s'en est sorti". Comme pour les noms, cette distinction ne concerne
    que les disyllabes. Tous les verbes d'une seule syllabe, ou de plus de deux
    syllabes sont accentogènes.</p>

    <div class="ion-text-center ion-margin-bottom">
      <ion-button color="lagua" (click)="saveLesson()">Terminer le cours</ion-button>
    </div>
</ion-content>