<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    <ion-title>Objectif</ion-title>
  </ion-buttons>
  <ion-button class="ion-margin-end" slot="end" color="light" size="small"
    >Se connecter</ion-button
  >
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-item lines="full">
  <ion-label>Combien de temps allez-vous consacrer du temps à l'apprentissage du comorien ?</ion-label>
</ion-item>
<ion-item lines="full">
  <ion-icon name="information-circle" slot="start"></ion-icon>
  <ion-label>0-5 minutes par jour</ion-label>
</ion-item>
<ion-item lines="full">
  <ion-icon name="information-circle" slot="start"></ion-icon>
  <ion-label>5-15 minutes par jour</ion-label>
</ion-item>
<ion-item lines="full">
  <ion-icon name="information-circle" slot="start"></ion-icon>
  <ion-label>15 - 30 minutes par jour</ion-label>
</ion-item>
<ion-item lines="full">
  <ion-icon name="information-circle" slot="start"></ion-icon>
  <ion-label>30 - 45 minutes par jour</ion-label>
</ion-item>
<ion-item lines="full">
  <ion-icon name="information-circle" slot="start"></ion-icon>
  <ion-label>45 - 60 minutes par jour</ion-label>
</ion-item>
<ion-item lines="full">
  <ion-icon name="information-circle" slot="start"></ion-icon>
  <ion-label>Je n'ai pas encore fixé mon objectif</ion-label>
</ion-item>
</ion-content>
