<ion-header>
<ion-toolbar>
  <ion-title>
    Lagua
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<h1>CONSULTATION DU LEXIQUE</h1>
  <p>Le classement des mots dans le lexique s'inspire du classement utilisé dans
  les dictionnaires usuels du swahili (Sacleux, Johnson,...), langue dont la
  structure est assez proche de celle du shindzuani. Ce classement opère un
  compromis :</p>
  <p>- Les noms sont à rechercher à leur forme complète (telle qu'elle est
  réalisée au singulier pour les noms qui connaissent une opposition
  singulier/pluriel). Ainsi, on trouvera à son ordre alphabétique le nom mntru
  "homme, être humain", mais non pas le pluriel correspondant wantru. Ils
  seront immédiatement suivis entre parenthèses, soit du préfixe du pluriel suivi
  d'un tiret, soit de la forme complète de leur pluriel en cas de contraction ou
  d'alternance consonantique; dans le cas où le singulier et le pluriel
  présentent la même forme, le nom sera suivi d'un tiret placé entre
  parenthèses. S'il n'y a qu'une classe attestée, elle sera précisée.</p>
  <p>- Pour les verbes, un classement à la forme de l'infinitif, qui a un préfixe
  hu-, aurait conduit à les classer tous sous la lettre H. On a donc remplacé ce
  préfixe par un trait d'union, et classé les verbes selon l'initiale de leur racine.
  Ainsi buliva "payer" est à rechercher sous -liva à la lettre L.</p>
  <p>Les noms dérivés des racines verbales selon une dérivation régulière,
  comme malivo "paiement, salaire" se trouvent par exception à ce qui a été
  dit au paragraphe précédent, sous le verbe correspondant (par exemple ici
  sous -liva). mais on trouvera à son ordre alphabétique malivo, avec un
  renvoi à -liva</p>
  <p>- Parmi les adjectifs, certains sont invariables. Les autres peu nombreux
  mais très usuels ne sont réalisés qu'avec un accord de classe avec le nom qui
  les commande, accord qui se fait par le moyen d'un préfixe. Ils ne peuvent
  donc être classés que sous leur racine, qui sera précédée d'un trait d'union
  indiquant la place d'un préfixe d'accord. Ainsi l'adjectif qui signifie "bon"
  apparaît comme mwema dans mntru mwema "un homme bon" et comme
  mema dans maji mema "de la bonne eau", etc. On le trouvera sous la forme
  -ema, à la lettre E. Dans le cas où l'accord ne fonctionne pas de façon
  régulière, ou en cas d'alternance consonantique, l'entrée sera suivie
  immédiatement, entre parenthèses, de la forme accordée, avec l'indication de
  la classe.</p>
  <p>- Il en sera de même pour les démonstratifs et les autres déterminants
  susceptibles de recevoir des accords de classe.</p>
  <p>- Les autres catégories de mots sont invariables (par exemple tsena "à
  nouveau", kula "chaque"). Ils ne posent donc aucun problème de classement.
  - Le lexique du shtndzuani compte un très grand nombre d'emprunts à
  l'arabe, la plupart bien intégrés. Ils ont parfois posé un problème de
  classement. Quand une famille étymologique de mots issus de la même
  racine arabe reste assez clairement perçue comme une famille pour les
  locuteurs, on a préféré les grouper sous un même article; néanmoins dans ce
  cas, des renvois permettent au lecteur de trouver le mot s'il le cherche à son
  ordre alphabétique (exemple daima "continuellement, sans arrêt" et -dumu
  "durer").</p>
  <p>Dans quelques cas, la parenté qui relie ces emprunts issus de la même
  racine arabe n'est plus guère perçue par le locuteur comorien. Dans ce cas,
  chaque mot a été considéré comme indépendant (mais l'étymologie arabe
  reste indiquée; ex. : -salimu "saluer" et isilamu "musulman").</p>
</ion-content>
