<ion-header>
  <ion-toolbar [ngStyle]="{'padding-top': isOverlay ? '20px' : '0px' }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Les classes nominales</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" size="medium" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p>Comme pour les autres langues bantoues, la langue anjouanaise est caractérisée
    par la répartition des noms en classes. Une classe forme l'ensemble
    des noms qui engendrent les mêmes accords grammaticaux. Les racines ou
    thèmes reçoivent un préfixe qui en est l'indicateur de classe. Tous les mots
    qui dépendent du nom s'accordent avec lui en recevant un préfixe spécifique.</p>
  <p>La répartition des noms en classes se fait souvent par paire en opposition
    de nombre. En suivant la convention adoptée par la linguistique bantoue, je
    vais énumérer les classes nominales en anjouanais :</p>
  <app-accordion [dialectCode]="'km'" [lessonCode]="'CLNO'"></app-accordion>
  <div class="ion-text-center ion-margin-bottom">
    <ion-button (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>