<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
    <span>
    <div class="ion-progress-content">
      <span class="ion-padding-end">Lagua</span>
          <div class="ion-progress-button">
            <button aria-label="progress bar" data-selector="progress-bar" class="ion-progress-bar">
              <span width="16.666666666666668" class="ion-progress-bar-active" style="width: 16.6667%;"></span>
              <span width="-16.666666666666668" class="ion-progress-bar-inactive"></span>
            </button>
          </div>
        </div>
      </span>
    </ion-title>
    <ion-icon class="ion-margin-end" slot="end" size="large" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <app-type></app-type>
  <app-content></app-content> -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="getType">
  <ion-toolbar>
    <ion-button class="ion-float-right ion-margin">
      Continuer
      <ion-icon slot="end" name="caret-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>