<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <span>
        <div class="ion-progress-content">
          <span class="ion-padding-end">Lagua</span>
          <div class="ion-progress-button" *ngIf="getType">
            <button aria-label="progress bar" data-selector="progress-bar" class="ion-progress-bar">
              <span class="ion-progress-bar-active" [ngStyle]="{'width': nbrQuestion + '%'}"></span>
              <span class="ion-progress-bar-inactive"></span>
            </button>
          </div>
        </div>
      </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button icon="close-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <app-type></app-type>
  <app-content></app-content> -->
  <ion-router-outlet></ion-router-outlet>
</ion-content>