<ion-content [fullscreen]="true" class="start-content">
  <h4>Ajouter un mot</h4>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Mot (en francais) *</ion-label>
      <ion-input placeholder="Nom, verbe..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Traduction *</ion-label>
      <ion-input placeholder="En shindzuani..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description *</ion-label>
      <ion-textarea placeholder=""></ion-textarea>
    </ion-item>  
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="10">
          <ion-item> 
            <ion-label position="stacked">Exemple</ion-label>
            <ion-input placeholder="Texte : un paquet de corde (d'une trentaine de coudées)."></ion-input>
            <ion-input placeholder="Traduction : Kungu la bamba."></ion-input>
          </ion-item>  
        </ion-col>
        <ion-col size="2"><ion-icon size="large" name="add-circle-outline"></ion-icon><ion-icon size="large" name="remove-circle-outline"></ion-icon></ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-button expand="block">Ajouter</ion-button>
</ion-content>
