<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Objectif</ion-title>
    </ion-buttons>
    <ion-button class="ion-margin-end" slot="end" color="light" size="small" [routerLink]="['../../login']" shape="round">Se
      connecter</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <ion-list>
      <h5 class="ion-padding-bottom">Combien de temps allez-vous consacrer du temps à l'apprentissage du comorien ?</h5>
      <ion-item lines="none" *ngFor="let t of time" [routerLink]="['../level']" routerLinkActive="selected"
        (click)="selectedItem(t)">
        <img class="ion-icon-src" width="64" src="{{t.src}}">
        <ion-label class="ion-text-wrap ion-margin-end">{{t.label}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>