<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    <ion-title>Objectif</ion-title>
  </ion-buttons>
  <ion-button class="ion-margin-end" slot="end" color="light" size="small" [routerLink]="['../../login']"
    >Se connecter</ion-button
  >
</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<ion-item lines="full">
  <ion-label>Combien de temps allez-vous consacrer du temps à l'apprentissage du comorien ?</ion-label>
</ion-item>
<ion-item lines="full" *ngFor="let t of time" [routerLink]="['../level']" routerLinkActive="selected" (click)="selectedItem(t)">
  <img class="ion-icon-src" width="64" src="{{t.src}}">
  <ion-label>{{t.label}}</ion-label>
</ion-item>
</ion-content>
