<ion-header>
  <ion-toolbar [ngClass]="{'ion-is-capacitor': isCapacitor }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Le système verbal</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" size="medium" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item class="ion-margin-top" lines="none">
    <ion-label class="ion-text-wrap">Présentation</ion-label>
  </ion-item>
  <div class="ion-padding-horizontal">
    <p>En <i>shindzuani</i>, un verbe, dans sa forme conjuguée, est accompagné de
      nombreux affixes (préfixes et suffixes). Ce sont: les pré-préfixes verbaux
      (ppv), les préfIXes verbaux (PY), les relateurs (rel.), les aspecto-temporels
      (tps), les auxiliatifs (aux.), les infixes-objets 10), les extensions ou dérivatifs
      (dér.), les suffixes verbaux (sfv) et les post-suffixes verbaux (psfv). Ces affixes
      se situent de part et d'autre du radical verbal (RAD) et se présentent de la
      manière suivante :</p>
    <p class="ion-text-center">ppv-PV-rel.-tps-aux.-IO- <span>RAD</span>-dér.-sfv-psfv</p>
    <p>1) Les pré-préfixes verbaux peuvent être soit la marque de la négation
      (<span>tsi-</span> : nég. + je, <span>ka-</span> : pour les autres personnes ou classes), soit la marque de
      l'injonction (<span>na-</span>).</p>
    <p>2) Les préfixes verbaux sont des marques de personnes ou de classes
      obligatoirement présentes. On les considère, souvent, comme les pronoms-sujets
      des verbes.</p>
    <p>3) Le relateur est une marque de relatif (<span>-a-</span>).</p>
    <p>4) Les aspecto-temporels sont, comme leur nom l'indique, les marques de
      l'aspect et du temps. Ce sont: <span>-ø-</span> pour l'accompli affirmatif ou le présent
      relatif ou encore l'accompli relatif affIrmatif, <span>-a-</span> pour l'accompli négatif, <span>-si-</span> ou
      <span>-su-</span> pour l'inaccompli-présent, et <span>-tso-</span> pour le futur.
    </p>
    <p>5) Les auxiliatifs sont des éléments à base de radicaux verbaux qui
      assument une fonction d'auxiliation. Ils donnent une indication sur le
      déroulement de l'action indiquée par le verbe: ils ont une valeur
      essentiellement aspectuelle. On distingue:</p>
    <div class="ion-padding-horizontal">
      <p>a) <span>-dungu-</span> : cet auxiliatif évoque une idée de répétition ou de
        harcèlement. Ex. : <span>lisha, usidungunitaâbisha!</span> : "arrête, ne m'embête
        pas sans arrêt !" (= arrête de m'embêter sans arrêt)
        [<span>-dunga</span> "suivre, harceler"]</p>
      <p>b) <span>-ahi-</span> : cet auxiliatif indique que l'action indiquée par le verbe
        doit précéder une autre. Ex. : <span>mwahija, mutsoona</span> : "si vous venez,
        vous verrez"</p>
      <p>c) <span>-jo-</span> : cet auxiliatif évoque l'idée de venir faire l'action indiquée
        par le verbe. Ex. : <span>nisijófanya ihâzi</span> : "je viens faire le travail".
        [<span>-ja</span> "venir"]</p>
      <p>d) <span>-ako-</span> : cet auxiliatif indique que l'action indiquée par le verbe a
        connu une certaine durée ou bien qu'elle était simultanée à une autre
        action ou qu'elle était en train de se réaliser. Ex. : <span>anipára
          nakotséha</span> "il m'a trouvé en train de rire" : <span>nakópindra</span> : "je
        m'habillais"
        [<span>-ka</span> "être"]</p>
      <p>e) <span>-lo-</span> : cet auxiliatif indique qu'on a été faire l'action indiquée par
        le verbe. Il ne s'emploie qu'à l'accompli. Ex. : <span>alomútolea ihadisi</span> "il a
        été lui raconter l'histoire"
        [-lawa "sortir, partir"]</p>
      <p>f) <span>mo-</span> : cet auxiliatif évoque l'idée de simultanée, mais de façon
        durative, répétitive. On pourrait le traduire par "chaque fois que...". Il
        suit presque toujours l'auxiliatif <span>-ahi-</span>. Ex. : <span>nahímofanya hazi,
          tsivéndze múntru anitaâbísha</span> : "quand je travaille, je n'aime pas
        qu'on m'embête"</p>
      <p>g) <span>-andro-</span> : cet auxiliatif indique le risque encouru en
        accomplissant une action donnée. Ex. : <span>fahámu wandrókodza !</span> : "fais
        attention, tu risques de te blesser !"</p>
      <p>h) <span>-ondro-</span> : cet auxiliatif évoque l'idée d'aller faire l'action
        indiquée par le verbe. Ex. : <span>nisondromúrema</span> : "je vais le frapper".
        Il peut se combiner avec l'auxiliatif <span>-ako-</span>. Ex. : <span>nakondromúrema</span>
        : "j'allais le frapper".
        [<span>-endra</span> "aller, marcher"]</p>
      <p>i) <span>-aparo-</span> : cet auxiliatif évoque l'idée d'avoir déjà réalisé au moins
        une fois l'action indiquée par le verbe, ou de ne l'avoir jamais réalisée.
        Ex. : <span>nisífikiri amba naparomúona</span> : "je crois que je l'ai déjà vu",
        <span>muntru úwo tsapáromukia nyangu nádzwala</span> : "je n'ai jamais
        entendu parler de cette personne depuis que je suis né". L'auxiliatif
        peut se combiner avec <span>-jo-</span> et <span>-ondro-</span>. Ex. : <span>naparojomúona</span> :"j'ai
        déjà eu l'occasion de venir lui rendre visite", <span>tsapárondromuona</span> : "je
        n'ai jamais été lui rendre visite".
        [<span>-para</span> "trouver, obtenir"]
      </p>
      <p>j) <span>-shindro-</span> : cet auxiliatif traduit une possibilité d'accomplir
        l'action indiquée par le verbe. Il s'emploie exclusivement avec
        l'habituel (voir ci-dessous). Ex. : <span>wami ushindromuóna</span> : "je peux le
        voir, j'ai la possibilité de le voir"...
        [<span>-shindra</span> "pouvoir"]</p>
      <p>k) <span>-atsungu-</span> : cet auxiliatif permet de déclencher immédiatement
        une autre action. Ex. : <span>natsúngumuona, tsibáma</span> : "dès que je l'ai vu,
        je me suis évanoui".</p>
    </div>
    <p>6) Les inftxes-objets sont des pronoms substitutifs en accord de classe avec
      le nom auquel ils se réfèrent.</p>
    <p>7) Les extensions sont des éléments dérivationnels. Elles ont une valeur
      aspectuelle ou de voix (voix active, voix moyenne, voix passive). On
      distingue:</p>
    <div class="ion-padding-horizontal">
      <p>a) l'applicatif (Ap.) <span>-i-, -e-</span>. Cette extension permet d'introduire deux
        compléments d'objet. Il présente aussi une valeur bénéfactive,
        instrumentale ou locative. Ex. : <span>-fanya</span> "faire", <span>-fanyia</span> "faire pour le
        compte de". <span>Anifanyia ihazi</span> : "il m'a fait le travail", <span>-dza</span> "accoucher",
        <span>-dzalia</span> "accoucher à". <span>Adzalia lopitáli</span> : elle a accouché à l'hôpital"...
      </p>
      <p>b) le moyen-neutre (Mn.) <span>-ih-, -eh-, -h-</span>. Cette extension présente
        deux valeurs:</p>
      <div class="ion-padding-horizontal">- le sujet de la phrase est en même temps l'objet de l'action
        indiquée par le verbe. Ex. : <span>-vundza</span> "casser", <span>-vundziha</span> "se casser".
        - le moyen-neutre peut indiquer aussi que le procès est
        faisable. Ex. : <span>-la</span> "manger", <span>-liha</span> "être mangeable"</div>
      <p>c) le causatif (Cs.) <span>-is-, -es-, -dz-, -z-</span>. Cette extension a pour rôle de
        faire faire l'action indiquée par le verbe, par une tierce personne. Ex. :
        <span>-la</span> "manger", <span>-lisa</span> "faire manger", <span>-lia</span> "pleurer", <span>-lidza</span>
        "faire pleurer",
        <span>-lewa</span> "être ivre", <span>-leza</span> "enivrer"
      </p>
      <p>d) le passif (Ps.) <span>-w-, -iw-, -ew-, -lw-</span>. Ex. : <span>-funga</span> "attacher",
        <span>-fungwa</span> "être attaché", <span>-lisa</span> "faire manger", <span>-lisiwa</span> "être nourri",
        <span>-bua</span> "ouvrir", <span>-bulwa</span> "être ouvert"
      </p>
      <p>e) l'associatif ou le réciproque (Rp.) <span>-an-</span>. Cette extension indique
        que l'action du verbe est assumée par plusieurs participants. Ex. :
        <span>-vendza</span> "aimer", <span>-vendzana</span> "s'aimer (réciproquement)"
      </p>
    </div>
    <p>8) Les suffixes verbaux sont des voyelles qui indiquent l'aspect, le mode
      (indicatif, subjonctif). Pour les verbes disyllabiques, ces voyelles sont, à
      l'accompli affirmatif et à l'habituel négatif (voir ci-dessous), souvent en
      harmonie avec la voyelle du radical. Pour les cas des verbes où ce
      phénomène se présente, il sera précisé dans le lexique, en mettant
      notamment entre parenthèses, la forme de l'accompli en classe 1.</p>
    <p>9) Les post-suffixes verbaux sont: soit des relatifs, soit des suffixes-objets,
      si la place de l'inftxe-objet est déjà occupée.</p>
  </div>
  <div class="ion-text-center ion-margin-vertical">
    <ion-button (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>