<ion-header>
  <ion-toolbar>
    <ion-title>
      Lagua
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <h1><ion-icon class="ion-arrow-back-position" size="large" name="arrow-back-circle-outline"
      [routerLink]="['/tabs/lessons']"></ion-icon> Les pronoms</h1>
  <p>1) les pronoms allocutifs :</p>
  <p>Ce sont les pronoms qui représentent les personnes participant au
    discours. Le shindzuani en connaît deux types, résumés dans le tableau
    suivant:</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>autonomes</ion-col>
      <ion-col size-sm="6">non-autonomes</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>sujet</ion-col>
      <ion-col>object</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. sg.</ion-col>
      <ion-col>wami "moi"</ion-col>
      <ion-col>ni- "je"<br />
        tsi- "je" (acc.)<br />
        tsi- "je (conditionnel
        négatif)</ion-col>
      <ion-col>-ni- "me, moi"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. sg.</ion-col>
      <ion-col>wawe "toi"</ion-col>
      <ion-col>u- "tu"</ion-col>
      <ion-col>-hu- "te, toi"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. pl.</ion-col>
      <ion-col>wasi "nous"</ion-col>
      <ion-col>ri- "nous"</ion-col>
      <ion-col>ri- "nous"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. pl.</ion-col>
      <ion-col>wanyu "vous"</ion-col>
      <ion-col>mu- "vous"</ion-col>
      <ion-col>mu-...ni "vous"</ion-col>
    </ion-row>
  </ion-grid>
  <p>Dans le classement du lexique, on ne trouvera que les formes
    autonomes; les autres ont été considérées comme des variantes de ces
    formes.</p>
  <p>2) les pronoms substitutifs:</p>
  <p>Ici, on a également deux types: les autonomes et
    autonomes (ces derniers figurent dans le tableau de
    précédente: ce sont les préfixes verbaux).</p>

  <p>Tableau d'accords des pronoms substitutifs autonomes</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>classes</ion-col>
      <ion-col>sens: lui, elle, eux, elles</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>waye</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2</ion-col>
      <ion-col>wawo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>3</ion-col>
      <ion-col>uwo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col>uyo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col>ulo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
      <ion-col>uyo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col>usho</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>8</ion-col>
      <ion-col>uzo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col>uyo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10</ion-col>
      <ion-col>uzo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>11</ion-col>
      <ion-col>uwo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>15</ion-col>
      <ion-col>uyo</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>16</ion-col>
      <ion-col>uvo</ion-col>
    </ion-row>
  </ion-grid>
  <p>3) les présentatifs :</p>
  <p>Comme pour les démonstratifs, les présenta tifs connaissent trois
    degrés: proche, intermédiatre et élotgné. Le premier peut être traduit
    par votct, le ou la ou les votci, Le deuxième et le troisième par vat/à, le
    ou la votlà, les votlà. Voici les principaux accords:</p>
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>classes</ion-col>
        <ion-col>proches</ion-col>
        <ion-col>intermédiaires</ion-col>
        <ion-col>éloignés</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>1</ion-col>
        <ion-col>tsíwani</ion-col>
        <ion-col>tsiwo</ion-col>
        <ion-col>tsule</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>2</ion-col>
        <ion-col>tsáwani</ion-col>
        <ion-col>tsáwo</ion-col>
        <ion-col>tsáwale</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>3</ion-col>
        <ion-col>tsíwani</ion-col>
        <ion-col>tsiwo</ion-col>
        <ion-col>tsule</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>4</ion-col>
        <ion-col>tsíyani</ion-col>
        <ion-col>tsiyo</ion-col>
        <ion-col>tsile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>5</ion-col>
        <ion-col>tsílani</ion-col>
        <ion-col>tsilo</ion-col>
        <ion-col>tsílile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>6</ion-col>
        <ion-col>tsáyani</ion-col>
        <ion-col>tsayo</ion-col>
        <ion-col>tsáyale</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>7</ion-col>
        <ion-col>tsíslani</ion-col>
        <ion-col>tsisho</ion-col>
        <ion-col>tsíslile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>8</ion-col>
        <ion-col>tsízani</ion-col>
        <ion-col>tsizo</ion-col>
        <ion-col>tsízile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>9</ion-col>
        <ion-col>tsíyani</ion-col>
        <ion-col>tsiyo</ion-col>
        <ion-col>tsile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>10</ion-col>
        <ion-col>tsízani</ion-col>
        <ion-col>tsizo</ion-col>
        <ion-col>tsízile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>11</ion-col>
        <ion-col>tsíwani</ion-col>
        <ion-col>tsiwo</ion-col>
        <ion-col>tsule</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>15</ion-col>
        <ion-col>tsíyani</ion-col>
        <ion-col>tsiyo</ion-col>
        <ion-col>tsile</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>2</ion-col>
        <ion-col>tsáwani</ion-col>
        <ion-col>tsáwo</ion-col>
        <ion-col>tsáwale</ion-col>
      </ion-row>
    </ion-grid>
</ion-content>