<ion-content [fullscreen]="true" class="start-content">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Francais</ion-col>
          <ion-col><ion-icon size="large" name="repeat-outline"></ion-icon></ion-col>
          <ion-col>Shindzuani</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DICTIONNAIRE FRANÇAIS-SHINDZUANI</ion-card-title>
      <ion-card-subtitle>Un dictionnaire de 200 000 mots et expressions.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-searchbar animated="true" placeholder="Rechercher dans le dictionnaire..." [(ngModel)]="word"
        name="name"></ion-searchbar>
      <ion-button expand="block" (click)="searchWord()">Rechercher</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let infoWord of wordsFound">
    <ion-card-header>
      <ion-card-title>{{infoWord.translate}}</ion-card-title>
      <ion-card-subtitle>{{infoWord.text}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngFor="let example of infoWord.examples">Exemple :
      <ion-text>{{example.translate}}</ion-text>
      <ion-text color="primary"><i> ({{example.text}})</i></ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button [routerLink]="['add']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>