<ion-content [fullscreen]="true" class="start-content">
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Francais</ion-col>
          <ion-col
            ><ion-icon size="large" name="repeat-outline"></ion-icon
          ></ion-col>
          <ion-col>Shindzuani</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>DICTIONNAIRE FRANÇAIS-SHINDZUANI</ion-card-title>
      <ion-card-subtitle
        >Un dictionnaire de 200 000 mots et expressions.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-searchbar animated="true" placeholder="Rechercher dans le dictionnaire..."></ion-searchbar>
      <ion-button expand="block">Block</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-card-header>
    <ion-card-title>manger</ion-card-title>
    <ion-card-subtitle>-la</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-text>je suis en train de lui faire son manger.</ion-text>
    <ion-text color="primary"><i> (je suis en train de lui faire son manger)</i></ion-text>
  </ion-card-content>
</ion-card>
</ion-content>
