<ion-header>
  <ion-toolbar [ngStyle]="{'padding-top': isOverlay ? '20px' : '0px' }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>L'alphabet</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p>Le comorien en général ne dispose pas encore d'alphabet officiel. Celui
    que j'ai adopté ici est celui que j'ai déjà mis en pratique dans mes différentes
    publications et qui est aujourd'hui largement répandu.
  </p>
  <app-accordion [contents]="contents"></app-accordion>
  <div class="ion-text-center ion-margin-bottom">
    <ion-button (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>