<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Paramètre</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Compte</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h3>Nom</h3>
        <p>Brady Abderemane</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Photo</ion-label>
      <ion-avatar slot="end">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Email</h3>
        <p>braydabd@gmail.com</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Je parle le :</h3>
        <p>Français</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Cours en apprentissage :</h3>
        <p>...</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Niveau :</h3>
        <p>Débutant</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="full">
    <ion-list-header>
      <ion-label>Général</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Activer les notification</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Mode sombre</h3>
        <p>Désactiver</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Aide</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label color="danger">Se déconnecter</ion-label>
    </ion-item>
  </ion-list>
</ion-content>