ion-content {
  --ion-background-color: linear-gradient(#5bad77, #2b7142);
}

form {
  height: 100%;
}

ion-item {
  --background: transparent !important;
}

ion-item::part(native) {
  border-color: #ffffff;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

ion-col {
  height: 100%;
}

.ion-content-button ion-button {
  --border-radius: 10px;
  font-size: 14px;
  font-weight: 100;
}

.logo ion-icon {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  height: 30%;
}

.ion-login-img {
  height: 70%;
  filter: invert(1);
  animation: 1s;
}

.content {
  height: 70%;
}

.ion-client-login-custom {
  font-size: 16px;
  color: #ffffff;
}

ion-label.ion-text-other {
  display: flex;
  flex-direction: row;
}

ion-label.ion-text-other:before,
ion-label.ion-text-other:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #ffffff;
  margin: auto;
}

ion-label.ion-text-other:before {
  margin-right: 5px;
}

ion-label.ion-text-other:after {
  margin-left: 5px;
}

ion-button.ion-password-forgot {
  color: #ffffff;
}

.ion-other-connection ion-button {
  --border-radius: 10px;
}

.item-has-focus {
  --highlight-background: #ffffff;
}