ion-content {
  --background: linear-gradient(0deg, #eef1ee 70%, #46895c 70%); //linear-gradient(to bottom, #eef1ee 100px, #46895c 130px);
}

ion-content > div {
  background: var(--ion-background-light-color);
  border-radius: 30px 30px 0 0;
}

ion-toolbar {
  --background: #46895c;
  --color: white;
  --min-height: 200px;
}

form {
  height: 100%;
}

ion-item {
  margin: 10px 0;
  --background: #dfebdf;
  --border-radius: 30px;
}

ion-grid {
  height: 100%;
}

ion-row {
  height: 100%;
}

ion-col {
  height: 100%;
}

.ion-content-button ion-button {
  --border-radius: 10px;
  font-size: 16px;
  font-weight: 100;
}

.logo ion-icon {
  font-size: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  height: 30%;
}

.ion-login-img {
  height: 70%;
  filter: invert(1);
  animation: 1s;
}

.content {
  height: 70%;
}

.ion-client-login-custom {
  font-size: 18px;
  // color: #ffffff;
}

ion-label.ion-text-other {
  display: flex;
  flex-direction: row;
}

ion-label.ion-text-other:before,
ion-label.ion-text-other:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

ion-label.ion-text-other:before {
  margin-right: 5px;
}

ion-label.ion-text-other:after {
  margin-left: 5px;
}

ion-button.ion-password-forgot {
  color: #000;
  font-size: 14px;
}

.ion-other-connection ion-button {
  --border-radius: 10px;
}

.ion-background-transparent {
  --background: transparent !important;
}

.item-has-focus {
  --highlight-background: #46895c;
}