<ion-tabs [ngClass]="{ 'ion-free-account' : !premium }" (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home{{tabSelected === 'home' ? '-sharp' : '-outline'}}"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lessons">
      <ion-icon name="book{{tabSelected === 'lessons' ? '' : '-outline'}}"></ion-icon>
      <ion-label>Cours</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="review">
      <ion-icon name="library{{tabSelected === 'review' ? '' : '-outline'}}"></ion-icon>
      <ion-label>Apprendre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dictionary">
      <ion-icon name="language{{tabSelected === 'dictionary' ? '' : '-outline'}}"></ion-icon>
      <ion-label>Dictionnaire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person{{tabSelected === 'profile' ? '' : '-outline'}}"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>