<ion-header>
  <ion-toolbar>
  <ion-row>
    <ion-col size="10" class="ion-margin-top">
      <ion-title>Lagua</ion-title>
    </ion-col> 
    <ion-col size="2" class="ion-padding-end">
      <div class="border-white-tabs ">
        <div class="img-box">
        </div>
      </div>
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dictionary">
      <ion-icon name="book"></ion-icon>
      <ion-label>Dictionnaire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lessons">
      <ion-icon name="library"></ion-icon>
      <ion-label>Reviser</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
