ion-popover {
  --width: 97%;
  --backdrop-opacity: 0;

  --offset-y: 10px;
}

.img-box > ion-icon {
  padding: 9px;
}

ion-tab-bar ion-icon {
  padding: 5px;
}

.tab-selected {
  color: #417752;
  font-weight: bold;
  font-size: 13px;
  // background: #619d69;
  // border-radius: 25px 25px 0 0;
}

ion-tabs {
  background: #eef1ee;
}

ion-tab-bar {
  margin-top: 5px;
  --border: none;
  border-radius: 25px 25px 0 0;
  --background: var(--ion-background-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
