<div class="container">
  <h4 class="ion-padding-top ion-text-center">Apprenez bien les mots que vous allez voir durant cette leçon</h4>
  <ion-card color="light" class="ion-text-center" *ngFor="let q of questions">
    <ion-card-header>
      <ion-card-title>{{q.text}}</ion-card-title>
      <ion-card-subtitle>{{q.translate}}</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content *ngIf="q.description">{{q.description}}</ion-card-content> -->
  </ion-card>
  <p class="ion-text-center">Dès que vous avez mémorisé les mots, cliquez sur "Continuer"</p>
</div>
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-button color="lagua" (click)="continue()">Continuer</ion-button>
  </ion-toolbar>
</ion-footer>