ion-content {
  --ion-background-color: #eef1ee;
}

ion-card {
  --background: #ffffff;
  border-radius: 15px;
}

ion-card-content {
  white-space: pre-wrap;
  line-height: 1.3;
}

.ion-first-icon {
  top: -25px;
}

.ion-custom-text:not(:first-child) {
  font-size: 85%;
  padding-left: 5px;
}

.subHeader {
  // border-bottom: 0.125rem solid rgb(225, 229, 231);
  background-color: #1a6921;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 25px -15px, rgba(0, 0, 0, 0.08) 0px 10px 10px -10px;
  border-radius: 0 0 20px 20px;
}

.headline {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.25;
  padding: 0px 5px;
}

.ion-scroll-review {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 5px;
}

.ion-margin-vertical-min {
  margin: 10px 0 1px;
  padding-bottom: 5px;
}

.ion-last-card {
  margin-bottom: 16px !important;
}

.ion-unlock-lesson {
  position: relative;
  border-left: 0.125rem solid rgb(147, 150, 147);
  margin: 0.625rem 2rem 1.625rem 0px;
  padding-left: 10px;
  left: 1.5rem;
}

.ion-icon-checked {
  position: absolute;
  font-size: 20px;
  left: -11px;
  padding: 2px 0;
  border-radius: 12px;
  color: rgb(48 137 133);
  background-color: #eef1ee;
  background-size: contain;
}

ion-icon.ion-icon-locked {
  position: absolute;
  font-size: 20px;
  left: -11px;
  padding: 2px 0;
  border-radius: 12px;
  color: rgb(255 93 15);
  background-color: #eef1ee;
  background-size: contain;
}

ion-icon.ion-icon-locked.first-icon {
  bottom: 20px;
}

.ion-button {
  --color: #ffffff;
}

.ion-button.ion-button-position {
  margin-top: -5px;
  margin-bottom: 16px;
}

.ion-button-a1 {
  --background: #1a6921;
}

.ion-button-a2 {
  --background: #6eb523;
}

.ion-button-b1 {
  --background: #ffc409;
}

.ion-button-b2 {
  --background: #ff9000;
}

.ion-button-c1 {
  --background: #ff0000;
}

.ion-chatbox {
  position: relative;
  top: -8px;
  left: -2px;
}

@media only screen and (min-width: 992px) {

  /* For desktop: */
  /* width */
  ::-webkit-scrollbar {
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}