<ion-header>
  <ion-toolbar>
    <ion-title> Lagua </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div>
    <div class="ion-scroll-review">
      <div class="ion-margin-vertical-min">
      <ion-button size="small" class="button">this is a button : 1</ion-button>
      <ion-button size="small" class="button">this is a button : 1</ion-button>
      <ion-button size="small" class="button">this is a button : 1</ion-button>
      <ion-button size="small" class="button">this is a button : 1</ion-button>
      <ion-button size="small" class="button">this is a button : 1</ion-button>
      <ion-button size="small" class="button">this is a button : 1</ion-button>
      </div>
    </div>
    <div class="subHeader ion-padding">
      <h1 class="headline ion-no-margin">Intermédiaire avancé (A1)<small class=""> - Cours 1</small></h1>
    </div>
    <div class="ion-unlock-lesson">
    <ion-icon class="ion-icon-locked" size="medium" name="lock-closed"></ion-icon>
    <!-- <ion-icon class="ion-icon-checked" size="medium" name="checkmark-circle"></ion-icon> -->
    <ion-card>
    <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
    <ion-button fill="clear">Action 1</ion-button>
  </ion-card>
    </div>
  </div>
</ion-content>
