<ion-content [scrollEvents]="true" [fullscreen]="true" (ionScroll)="handleScroll($any($event))">
  <div class="subHeader ion-text-center">
    <h1 class="headline ion-no-margin">Apprendre <ion-icon name="albums"></ion-icon></h1>
    <p class="subHeadline">{{categorySelected?.label}} ({{categorySelected?.code}}) - {{reviews.length}} leçon(s)</p>
  </div>
  <div id="categories-menu" class="ion-scroll-review" [class.is-pinned]="isPinned">
    <div class="ion-margin-vertical-min">
      <ion-button *ngFor="let c of categories" size="small" class="ion-button ion-button-{{c.code | lowercase}}"
        [ngClass]="{'ion-button-active': categorySelected?.code === c.code}" (click)="setCategory(c.code)">{{c.label}}
        ({{c.code}})</ion-button>
    </div>
  </div>
  <ion-accordion-group [value]="[displayAccordion]" [multiple]="true">
    <ion-accordion value="{{data.category}}_{{data.lesson}}" class="ion-margin-bottom" toggleIcon="chevron-down-outline"
      toggleIconSlot="end" *ngFor="let data of reviews">
      <ion-item lines="none" slot="header" class="ion-accordion-header">
        <ion-label class="ion-text-wrap">
          <h6>{{data.title}} ({{data.category}}) - Cours n°{{data.lesson}}</h6>
          <p>{{data.subtitle}}</p>
        </ion-label>
      </ion-item>
      <div class="scrollGradient" slot="content">
        <div *ngFor="let r of data.reviews; let index = index" class="ion-unlock-lesson">
          <ion-icon
            *ngIf="categoryLevel < codeCategorySelectedLevel || (userReview.lesson <= r.lesson && userReview.order < r.order)"
            class="ion-icon-locked" size="medium" name="lock-closed"
            [ngClass]="{ 'ion-first-icon' : index }"></ion-icon>
          <ion-icon
            *ngIf="!(categoryLevel < codeCategorySelectedLevel || (userReview.lesson <= r.lesson && userReview.order < r.order))"
            class="ion-icon-checked" size="medium" name="checkmark-circle"
            [ngClass]="{ 'ion-first-icon' : index }"></ion-icon>
          <ion-item lines="none" class="ion-card-review">
            <ion-card
              [ngClass]="{ 'ion-card-locked' : categoryLevel < codeCategorySelectedLevel || (userReview.lesson <= r.lesson && userReview.order < r.order) }">
              <ion-card-header>
                <ion-card-title>{{r.text}} <ion-icon (click)="goToModifyReview(data.category, data.lesson, r.order)"
                    *ngIf="user.email === 'brady91700@gmail.com' || user.email === 'bradyabd@gmail.com'"
                    name="create-outline"></ion-icon> <img *ngIf="r.score" class="ion-flag-comoros ion-float-right"
                    src="{{flagSrc}}" /></ion-card-title>
                <ion-card-subtitle>{{r.translate}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div class="ion-custom-text" *ngFor="let content of r.contents">{{content}}</div>
              </ion-card-content>
              <ion-button
                *ngIf="!(categoryLevel < codeCategorySelectedLevel || (userReview.lesson <= r.lesson && userReview.order <= r.order))"
                size="small"
                class="ion-button ion-button-words ion-padding-min-start ion-float-left ion-button-position"
                fill="clear" (click)="openModal(r)">
                Voir les mots
              </ion-button>
              <ion-button
                *ngIf="!(categoryLevel === codeCategorySelectedLevel && (userReview.lesson <= r.lesson && userReview.order === r.order))"
                size="small" color="primary"
                class="ion-button ion-button-active ion-padding-min-end ion-float-left ion-button-position"
                fill="clear" (click)="openModal(r)">Aide</ion-button>
              <ion-button
                *ngIf="!(categoryLevel < codeCategorySelectedLevel || (userReview.lesson <= r.lesson && userReview.order < r.order))"
                size="small"
                class="ion-button ion-button-active ion-padding-min-end ion-float-right ion-button-position"
                fill="clear" (click)="accessReview(r)">
                {{ categoryLevel === codeCategorySelectedLevel && userReview.lesson <= r.lesson &&
                  userReview.order===r.order ? 'Démarrer le cours' : 'Revoir le cours' }} </ion-button>
            </ion-card>
          </ion-item>
        </div>
        <ion-modal [isOpen]="isWordsDisplay" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75, 1]">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Mots à apprendre dans ce cours</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="closeModal()">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let word of words" lines="full">
                  <ion-label class="ion-text-wrap">
                    <span>{{word.translate}} : </span><span class="ion-text">{{word.text}}</span>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>