<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Expérience</ion-title>
    </ion-buttons>
    <ion-button class="ion-margin-end" slot="end" color="light" size="small" [routerLink]="['../../login']"
      >Se connecter</ion-button
    >
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item lines="full">
    <ion-label>Comment jugerez-vous vos connaissances en comorien ?</ion-label>
  </ion-item>
  <ion-item lines="full" *ngFor="let l of level" [routerLink]="['../../signin']" routerLinkActive="selected" (click)="selectedItem(l)">
    <ion-icon name="information-circle" slot="start"></ion-icon>
    <ion-label>{{l.label}}</ion-label>
  </ion-item>
</ion-content>
