ion-toolbar {
  --background: #46895c;
  --color: white;

  --min-height: 100px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-item {
  --background: #dfe0e0;
  --color: #fff;

  --border-width: 2px;

  --border-radius: 20px;
}