<ion-header>
  <ion-toolbar [ngStyle]="{'padding-top': isOverlay ? '20px' : '0px' }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Consultation du lexique</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p>Le classement des mots dans le lexique s'inspire du classement utilisé dans
    les dictionnaires usuels du swahili (Sacleux, Johnson,...), langue dont la
    structure est assez proche de celle du <i>shindzuani</i>. Ce classement opère un
    compromis :</p>
    <app-accordion [dialectCode]="'km'" [lessonCode]="'LEXI'"></app-accordion>
  <p>Dans quelques cas, la parenté qui relie ces emprunts issus de la même
    racine arabe n'est plus guère perçue par le locuteur comorien. Dans ce cas,
    chaque mot a été considéré comme indépendant (mais l'étymologie arabe
    reste indiquée; ex. : <span>-salimu</span> "saluer" et <span>isilamu</span> "musulman").</p>
  <div class="ion-text-center ion-margin-bottom">
    <ion-button (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>