<ion-header>
  <ion-toolbar [ngStyle]="{'padding-top': isOverlay ? '20px' : '0px' }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Récapitulatif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="ion-middle-content">
      <h3 class="ion-padding-vertical ion-text-center">Résumé du forfait</h3>
      <div class="ion-padding-horizontal ion-margin-horizontal ion-info-bloc">
        <h4 class="ion-padding-bottom"><b>Ton forfait</b></h4>
        <p>Offre Premium de 12 mois<span class="ion-float-right">119,34€</span></p>
        <p>Réduction de -75%<span class="ion-float-right">-87,11€</span></p>
        <h1 class="ion-text-right">Prix total : <span>30,23€</span></h1>
      </div>
      <div class="ion-dialect-bloc">
        <p>Accès aux dialectes suivants : </p>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Grand-comorien</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Anjouannais</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Mohélien</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>Mahorais</ion-label>
        </ion-chip>
      </div>
      <div class="ion-info-bloc ion-margin ion-padding">
        <ion-text class="ion-margin-top">Durée</ion-text>
        <h2 class="ion-color-lagua ion-no-margin">12 mois</h2>
        <p><i>Démarre le 10 sept. 2024 et expire 9 sept. 2025</i></p>
        <p><b>Important :</b> Votre abonnement n'est pas renouvelé automatiquement. Pensez à souscrire un nouveau forfait à la
          fin de votre période d'engagement.</p>
        <p class="ion-not-satisfied">Insatisfait(e) ? Un remboursement intégral vous est accordé. Envoyez simplement un email à
          lagua.shikomori@gmail.com dans les 14 jours suivant votre achat.</p>
      </div>
    </div>
    <div class="ion-margin-horizontal">
      <h4>Sélectionner un mode de paiement</h4>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>Carte de crédit</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">First Content</div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>PayPal</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Second Content</div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>Google Pay</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Third Content</div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
    <div class="ion-text-center">
      <p class="ion-padding-vertical">Je confirme avoir lu et j'accepte les <span>CGV</span>.</p>
      <h4>Contact & assistance</h4>
      <a href="mailto:lagua.shikomori@gmail.com">Team Lagua</a>
      <!-- <span [routerLink]="['/help/contactus']">Team Lagua</span> -->
    </div>
    <div class="ion-background-bottom ion-padding-horizontal">
      <div class="ion-margin-top ion-margin-horizontal">
        <img *ngIf="productsSetting.icon?.cashback" [src]="productsSetting.icon?.cashback" width="64" />
        <h6>Essayez Lagua sans risque</h6>
        <p class="ion-padding-bottom">Contactez Lagua dans les 20 jours pour un remboursement complet.</p>
      </div>

      <div class="ion-padding-vertical ion-margin">
        <img *ngIf="productsSetting.icon?.lock" [src]="productsSetting.icon?.lock" width="64" />
        <h6>Paiement sécurisé</h6>
        <p class="ion-padding-bottom">Toutes les transactions sont sécurisées et cryptées.</p>
      </div>
    </div>
  </div>
</ion-content>