<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>La conjugaison</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" size="medium" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p class="ion-text-center">(exemples avec le verbe <span>-vuna</span> "récolter")</p>
  <p>1) l'inaccompli-présent :</p>
  <ion-grid class="ion-text-center ion-align-items-center ion-min-spacing">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>nisívuna</span> "je récolte"</ion-col>
      <ion-col><span>tsisívuna</span> "je ne récolte pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>usívuna</span> "tu récoltes"</ion-col>
      <ion-col><span>kúsivuna</span> "tu ne récoltes pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>asívuna</span> "il récolte"</ion-col>
      <ion-col><span>kásivuna</span> "il ne récolte pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>risívuna</span> "nous récoltons"</ion-col>
      <ion-col><span>karisívuna</span> "nous ne récoltons pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>musívuna</span> "vous récoltez"</ion-col>
      <ion-col><span>kamusívuna</span> "vous ne récoltez pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>wasívuna</span> "ils récoltent"</ion-col>
      <ion-col><span>kawasívuna</span> "ils ne récoltent pas"</ion-col>
    </ion-row>
  </ion-grid>
  <p>2) l'inaccompli-futur :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>nitsovuna</span> "je récolterai"</ion-col>
      <ion-col><span>tsítsovuna</span> "je ne récolterai pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>utsovuna</span> "tu récolteras"</ion-col>
      <ion-col><span>kútsovuna</span> "tu ne récolteras pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>atsovuna</span> "il récoltera"</ion-col>
      <ion-col><span>kátsovuna</span> "il ne récoltera pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>ritsovuna</span> "nous récolterons"</ion-col>
      <ion-col><span>karítsovuna</span> "nous ne récolterons pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>mutsovuna</span> "vous récolterez"</ion-col>
      <ion-col><span>kamútsovuna</span> "vous ne récolterez pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>watsovuna</span> "ils récolteront"</ion-col>
      <ion-col><span>kawátsovuna</span> "ils ne récolteront pas"</ion-col>
    </ion-row>
  </ion-grid>
  <p>3) l'accompli :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>tsivunu</span> "j'ai récolté"</ion-col>
      <ion-col><span>tsávuna</span> "je n'ai pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>uvunu</span> "tu as récolté"</ion-col>
      <ion-col><span>kwávuna</span> "tu n'as pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>avunu</span> "il a récolté"</ion-col>
      <ion-col><span>kávuna</span> "il n'a pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>rívunu</span> "nous avons récolté"</ion-col>
      <ion-col><span>karávuna</span> "nous n'avons pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>múvunu</span> "vous avez récolté"</ion-col>
      <ion-col><span>kamwávuna</span> "vous n'avez pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>wávunu</span> "ils ont récolté"</ion-col>
      <ion-col><span>kawávuna</span> "ils n'ont pas récolté"</ion-col>
    </ion-row>
  </ion-grid>
  <p>4) l'habituel, le répétitif ou le duratif :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(habituellement...)</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>(wami) uvuna</span> "je récolte"</ion-col>
      <ion-col><span>tsivunu</span> "je ne récolte jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>(wawe) uvuna</span> "tu récoltes"</ion-col>
      <ion-col><span>kuvunu</span> "tu ne récoltes jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>(waye) uvuna</span> "il récolte"</ion-col>
      <ion-col><span>kavunu</span> "il ne récolte jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>(wasi) uvuna</span> "nous récoltons"</ion-col>
      <ion-col><span>karivunu</span> "nous ne récoltons jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>(wanyu) uvuna</span> "vous récoltez"</ion-col>
      <ion-col><span>kamuvunu</span> "vous ne récoltez jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>(wao) uvuna</span> "ils récoltent"</ion-col>
      <ion-col><span>kawavunu</span> "ils ne récoltent jamais"</ion-col>
    </ion-row>
  </ion-grid>
  <p>5) l'impératif:</p>
  <p class="ion-padding-horizontal">Il ne concerne que la deuxième personne du singulier. Il n'est
    formé que de la base verbale (radical + éventuellement les extensions)
    et du suffixe verbal <span>-a</span>*. Ex. : <span>endrá!</span> "va !", <span>soma!</span> "lis !",
    <span>endrelea!</span>
    "continue !"
  </p>
  <p class="ion-padding-horizontal">Lorsque le verbe est précédé de l'infixe-objet -ni- "moi, me", le
    suffixe verbal reste <span>-a</span>. Dans les autres cas, le suffixe verbal est <span>-e</span>**.
    Ex. : <span>nambia!</span> (<\ni-ambia\>) "dis-moi !", mais on a <span>mwambie!</span> "dis-lui
      !"</p>
  <p>* : Noter que les verbes d'emprunt qui se terminent par une voyelle autre que la
    centrale conservent leur voyelle. Ex. : <span>fikiri!</span> "réfléchis !" ('infinitif est
    <span>hufikiri</span>).<br />
    ** : Voir note précédente.
  </p>
  <p>6) l'injonctif:</p>
  <ion-grid class="ion-text-center ion-min-spacing">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>nanivune</span> "que je récolte !"</ion-col>
      <ion-col><span>nisivune</span> "que je ne récolte pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><span>usivune</span> "ne récolte pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>navune</span> "qu'il récolte !"</ion-col>
      <ion-col><span>asivune</span> "qu'il ne récolte pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>narivune</span> "que nous récoltions !"</ion-col>
      <ion-col><span>risivune</span> "que nous ne récoltions pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>namuvune</span> "récoltez !"</ion-col>
      <ion-col><span>musivune</span> "ne récoltez pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>nawavune</span> "qu'ils récoltent !"</ion-col>
      <ion-col><span>wasivune</span> "qu'ils ne récolte pas !"</ion-col>
    </ion-row>
  </ion-grid>
  <p>7) le subjonctif</p>
  <p class="ion-padding-horizontal">Il se construit de la même manière que l'injonctif, à ceci près qu'à
    l'afflrmatif, le pré-préfixe <span>na-</span> est omis. Ex. : <span>nisitsáha uvúne</span> : "je
    veux que tu récoltes"...</p>
  <p>8) Le révolu</p>
  <p class="ion-padding-horizontal">Le révolu, est construit avec la copule <span>-ka</span> "être" à l'accompli, suivi
    immédiatement d'un autre verbe à l'accompli également. Ex. : <span>tsiká
      tsifikíri</span> : "j'avais pensé", <span>aká amréme</span> : "il l'avait frappé". Au
    négatif, seule la copule <span>-ka</span> se met au négatif, le deuxième verbe est à
    la forme subordonnée avec le relateur <span>-a-</span> :</p>
  <ion-grid class="ion-text-center ion-min-spacing">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>tsiká tsivúnu</span> "j'avais récolté"</ion-col>
      <ion-col><span>tsáka navúna</span> "je n'avais pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>uka uvúnu</span> "tu avais récolté"</ion-col>
      <ion-col><span>kwáka wavúna</span> "tu n'avais pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>aka avúnu</span> "il avait récolté"</ion-col>
      <ion-col><span>káka avúna</span> "il n'avait pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>ríka rivunu</span> "nous avions récolté"</ion-col>
      <ion-col><span>karáka ravúna</span> "nous n'avions pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>múka múvunu</span> "vous aviez..."</ion-col>
      <ion-col><span>kamwáka mwavúna</span> "vous n'aviez..."</ion-col>
    </ion-row>
    <ion-row>
      <ion-col><span>waka wavunu</span> "ils n'avaient pas.."</ion-col>
      <ion-col><span>kawaka wavúna</span> "ils n'avaient pas..."</ion-col>
    </ion-row>
  </ion-grid>
  <p>9) La copule "être"</p>
  <p>Comme dans beaucoup d'autres langues, l'expression de ce qu'on appelle
    traditionnellement le verbe "être", se présente en shindzuani sous plusieurs
    formes: <span>-ka, ø (zéro), -a, -li- et -si.</span></p>
  <div class="ion-padding-horizontal">
    <p>a) <span>-ka</span> apparaît dans tous les cas, sauf:</p>
    <p>b) au duratif, qui exprime une vérité, un état, la copule apparaît
      sous la forme ø. Ex. : <span>mshe wáhe muzúri</span> : "sa femme est belle" ;
      <span>mwiri únu mhodári</span> "ce bois est dur".
    </p>
    <p><i>Remarque</i> on notera que le nom sujet est toujours suivi d'un
      déterminant (démonstratif, possessif).</p>
    <p>c) au présent actuel, qui indique un état provisoire. Dans ce cas, on
      a : <span>-a</span> et <span>-si</span>. Ces deux formes, appelées verboïdes, se déclinent à toutes les personnes
      et classes, comme
      le montre le tableau suivant:</p>
  </div>
  <ion-grid class="ion-text-center ion-min-spacing">
    <ion-row>
      <ion-col>classes & personnes</ion-col>
      <ion-col>affirmatif il~elle est / ils~elles sont</ion-col>
      <ion-col>négatif il~elle n'est pas / ils~elles ne sont pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col><span>a</span></ion-col>
      <ion-col><span>kasi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2</ion-col>
      <ion-col><span>wa</span></ion-col>
      <ion-col><span>kawasi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>3</ion-col>
      <ion-col><span>wa</span></ion-col>
      <ion-col><span>kausi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col><span>ya</span></ion-col>
      <ion-col><span>kaisi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col><span>la</span></ion-col>
      <ion-col><span>kalasi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
      <ion-col><span>ya</span></ion-col>
      <ion-col><span>kayasi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col><span>sha</span></ion-col>
      <ion-col><span>kashisi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>8</ion-col>
      <ion-col><span>za</span></ion-col>
      <ion-col><span>kazisi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col><span>ya</span></ion-col>
      <ion-col><span>kaisi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10</ion-col>
      <ion-col><span>za</span></ion-col>
      <ion-col><span>kazisi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>11</ion-col>
      <ion-col><span>wa</span></ion-col>
      <ion-col><span>kausi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>15</ion-col>
      <ion-col><span>ya</span></ion-col>
      <ion-col><span>kaisi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>16, 17, 18</ion-col>
      <ion-col><span>vwa</span></ion-col>
      <ion-col><span>kavusi</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. sg</ion-col>
      <ion-col><span>tsa</span> "je suis"</ion-col>
      <ion-col><span>tsisi</span> "je ne suis pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. sg.</ion-col>
      <ion-col><span>wa</span> "tu es"</ion-col>
      <ion-col><span>kusi</span> "tu n'es pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. pl.</ion-col>
      <ion-col><span>ra</span> "nous sommes"</ion-col>
      <ion-col><span>karisi</span> "nous ne sommes pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. pl.</ion-col>
      <ion-col><span>mwa</span> "vous êtes"</ion-col>
      <ion-col><span>kamusi</span> "vous n'êtes pas"</ion-col>
    </ion-row>
  </ion-grid>
  <p class="ion-padding-horizontal">d) <span>-li-</span> apparaît au présent relatif. Ex. : <span>muntru alío
      muwade.</span> : "la
    personne qui est malade..."
  </p>
  <p>10) L'expression "avoir"</p>
  <p class="ion-padding-horizontal">Il se construit avec la copule "être" à laquelle on ajoute l'élément na
    "avec". Ex. : <span>tsiná</span> : "j'ai", <span>muntru aliona mwana</span> : "celui qui a un
    enfant", <span>ríka na magari maíli</span> : nous avions deux voitures.</p>
  <p class="ion-padding-horizontal">Le tableau suivant donne les accords à l'inaccompli-présent:</p>
  <ion-grid class="ion-text-center ion-min-spacing">
    <ion-row>
      <ion-col>classes & personnes</ion-col>
      <ion-col>affirmatif il~elle a / ils~elles ont</ion-col>
      <ion-col>négatif il~elle n'a pas / ils~elles n'ont pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col><span>aná</span></ion-col>
      <ion-col><span>kásina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2</ion-col>
      <ion-col><span>wána</span></ion-col>
      <ion-col><span>kawásina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>3</ion-col>
      <ion-col><span>úna</span></ion-col>
      <ion-col><span>kaúsina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col><span>ína</span></ion-col>
      <ion-col><span>kaísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col><span>lína</span></ion-col>
      <ion-col><span>kalísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
      <ion-col><span>yána</span></ion-col>
      <ion-col><span>kayásina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col><span>shína</span></ion-col>
      <ion-col><span>kashísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>8</ion-col>
      <ion-col><span>zína</span></ion-col>
      <ion-col><span>kazísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col><span>ína</span></ion-col>
      <ion-col><span>kaísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10</ion-col>
      <ion-col><span>zína</span></ion-col>
      <ion-col><span>kazísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>11</ion-col>
      <ion-col><span>úna</span></ion-col>
      <ion-col><span>kaúsina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>15</ion-col>
      <ion-col><span>ína</span></ion-col>
      <ion-col><span>kaísina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>16, 17, 18</ion-col>
      <ion-col><span>vúna</span></ion-col>
      <ion-col><span>kavúsina</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. sg</ion-col>
      <ion-col><span>tsiná</span> "j'ai"</ion-col>
      <ion-col><span>tsisina</span> "je n'ai pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. sg.</ion-col>
      <ion-col><span>uná</span> "tu as"</ion-col>
      <ion-col><span>kúsina</span> "tu n'as pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. pl.</ion-col>
      <ion-col><span>rína</span> "nous avons"</ion-col>
      <ion-col><span>karísina</span> "nous n'avons pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. pl.</ion-col>
      <ion-col><span>múva</span> "vous avez"</ion-col>
      <ion-col><span>kamúsina</span> "vous n'avez pas"</ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center ion-margin-vertical">
    <ion-button color="lagua" (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>