<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>La conjugaison</ion-title>
    <ion-icon class="ion-margin-end" slot="end" size="medium" name="home-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <p>(exemples avec le verbe -vuna "récolter")</p>
  <p>1) l'inaccompli-présent :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>nisívuna "je récolte"</ion-col>
      <ion-col>tsisívuna "je ne récolte pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>usívuna "tu récoltes"</ion-col>
      <ion-col>kúsivuna "tu ne récoltes pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>asívuna "il récolte"</ion-col>
      <ion-col>kásivuna "il ne récolte pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>risívuna "nous récoltons"</ion-col>
      <ion-col>karisívuna "nous ne récoltons pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>musívuna "vous récoltez"</ion-col>
      <ion-col>kamusívuna "vous ne récoltez pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>wasívuna "ils récoltent"</ion-col>
      <ion-col>kawasívuna "ils ne récoltent pas"</ion-col>
    </ion-row>
  </ion-grid>
  <p>2) l'inaccompli-futur :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>nitsovuna "je récolterai"</ion-col>
      <ion-col>tsítsovuna "je ne récolterai pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>utsovuna "tu récolteras"</ion-col>
      <ion-col>kútsovuna "tu ne récolteras pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>atsovuna "il récoltera"</ion-col>
      <ion-col>kátsovuna "il ne récoltera pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>ritsovuna "nous récolterons"</ion-col>
      <ion-col>karítsovuna "nous ne récolterons pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>mutsovuna "vous récolterez"</ion-col>
      <ion-col>kamútsovuna "vous ne récolterez pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>watsovuna "ils récolteront"</ion-col>
      <ion-col>kawátsovuna "ils ne récolteront pas"</ion-col>
    </ion-row>
  </ion-grid>
  <p>3) l'accompli :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>tsivunu "j'ai récolté"</ion-col>
      <ion-col>tsávuna "je n'ai pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>uvunu "tu as récolté"</ion-col>
      <ion-col>kwávuna "tu n'as pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>avunu "il a récolté"</ion-col>
      <ion-col>kávuna "il n'a pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>rívunu "nous avons récolté"</ion-col>
      <ion-col>karávuna "nous n'avons pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>múvunu "vous avez récolté"</ion-col>
      <ion-col>kamwávuna "vous n'avez pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>wávunu "ils ont récolté"</ion-col>
      <ion-col>kawávuna "ils n'ont pas récolté"</ion-col>
    </ion-row>
  </ion-grid>
  <p>4) l'habituel, le répétitif ou le duratif :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(habituellement...)</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(wami) uvuna "je récolte"</ion-col>
      <ion-col>tsivunu "je ne récolte jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(wawe) uvuna "tu récoltes"</ion-col>
      <ion-col>kuvunu "tu ne récoltes jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(waye) uvuna "il récolte"</ion-col>
      <ion-col>kavunu "il ne récolte jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(wasi) uvuna "nous récoltons"</ion-col>
      <ion-col>karivunu "nous ne récoltons jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(wanyu) uvuna "vous récoltez"</ion-col>
      <ion-col>kamuvunu "vous ne récoltez jamais"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>(wao) uvuna "ils récoltent"</ion-col>
      <ion-col>kawavunu "ils ne récoltent jamais"</ion-col>
    </ion-row>
  </ion-grid>
  <p>5) l'impératif:</p>
  <p class="ion-padding-horizontal">Il ne concerne que la deuxième personne du singulier. Il n'est
    formé que de la base verbale (radical + éventuellement les extensions)
    et du suffixe verbal -a1. Ex. : endrá ! "va !" ; soma! "lis !" ; endrelea !
    "continue !"</p>
  <p class="ion-padding-horizontal">Lorsque le verbe est précédé de l'infixe-objet -ni- "moi, me", le
    suffixe verbal reste -a. Dans les autres cas, le suffixe verbal est -e.
    Ex. : nambia ! (<\ni-ambia\>) "dis-moi !", mais on a mwambie ! "dislui
      !"...</p>
  <p>6) l'injonctif:</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>nanivune "que je récolte !"</ion-col>
      <ion-col>nisivune "que je ne récolte pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>usivune "ne récolte pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>navune "qu'il récolte !"</ion-col>
      <ion-col>asivune "qu'il ne récolte pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>narivune "que nous récoltions !"</ion-col>
      <ion-col>risivune "que nous ne récoltions pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>namuvune "récoltez !"</ion-col>
      <ion-col>musivune "ne récoltez pas !"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>nawavune "qu'ils récoltent !"</ion-col>
      <ion-col>wasivune "qu'ils ne récolte pas !"</ion-col>
    </ion-row>
  </ion-grid>
  <p>7) le subjonctif</p>
  <p class="ion-padding-horizontal">Il se construit de la même manière que l'injonctif, à ceci près qu'à
    l'afflrmatif, le pré-préfixe na- est omis. Ex. : nisitsáha uvúne : " je
    veux que tu récoltes"...</p>
  <p>8) Le révolu:/p>
  <p class="ion-padding-horizontal">Le révolu, est construit avec la copule -ka "être" à l'accompli, suivi
    immédiatement d'un autre verbe à l'accompli également. Ex. : tsiká
    tsifikíri : "j'avais pensé" ; aká amréme : "il l'avait frappé"... Au
    négatif, seule la copule -ka se met au négatif; le deuxième verbe est à
    la forme subordonnée avec le relateur -a- :</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>affirmatif</ion-col>
      <ion-col>négatif</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>tsiká tsivúnu "j'avais récolté"</ion-col>
      <ion-col>tsáka navúna "je n'avais pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>uka uvúnu "tu avais récolté"</ion-col>
      <ion-col>kwáka wavúna "tu n'avais pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>aka avúnu "il avait récolté"</ion-col>
      <ion-col>káka avúna "il n'avait pas récolté"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>ríka rivunu "nous avions récolté"</ion-col>
      <ion-col>karáka ravúna "nous n'avions pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>múka múvunu "vous aviez..."</ion-col>
      <ion-col>kamwáka mwavúna "vous n'aviez..."</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>waka wavunu "ils n'avaient pas.."</ion-col>
      <ion-col>kawaka wavúna "ils n'avaient pas..."</ion-col>
    </ion-row>
  </ion-grid>
  <p>9) La copule "être"</p>
  <p>Comme dans beaucoup d'autres langues, l'expression de ce qu'on appelle
    traditionnellement le verbe "être", se présente en shindzuani sous plusieurs
    formes: -ka, ø (zéro), -a, -li- et -si.</p>
  <div class="ion-padding-horizontal">
    <p>a) -ka apparaît dans tous les cas, sauf:</p>
    <p>b) au duratif, qui exprime une vérité, un état, la copule apparaît
      sous la forme ø. Ex. : mshe wáhe muzúri : "sa femme est belle" ;
      mwiri únu mhodári: "ce bois est dur".</p>
    <p>Remarque: on notera que le nom sujet est toujours suivi d'un
      déterminant (démonstratif, possessif).</p>
    <p>c) au présent actuel, qui indique un état provisoire. Dans ce cas, on
      a : -a et -si. Ces deux formes, appelées verboïdes, se déclinent à toutes les personnes et classes, comme
      le montre le tableau suivant:</p>
  </div>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>classes & personnes</ion-col>
      <ion-col>affirmatif il~elle est / ils~elles sont</ion-col>
      <ion-col>négatif il~elle n'est pas / ils~elles ne sont pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>a</ion-col>
      <ion-col>kasi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2</ion-col>
      <ion-col>wa</ion-col>
      <ion-col>kawasi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>3</ion-col>
      <ion-col>wa</ion-col>
      <ion-col>kausi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col>ya</ion-col>
      <ion-col>kaisi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col>la</ion-col>
      <ion-col>kalasi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
      <ion-col>ya</ion-col>
      <ion-col>kayasi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col>sha</ion-col>
      <ion-col>kashisi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>8</ion-col>
      <ion-col>za</ion-col>
      <ion-col>kazisi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col>ya</ion-col>
      <ion-col>kaisi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10</ion-col>
      <ion-col>za</ion-col>
      <ion-col>kazisi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>11</ion-col>
      <ion-col>wa</ion-col>
      <ion-col>kausi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>15</ion-col>
      <ion-col>ya</ion-col>
      <ion-col>kaisi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>16, 17, 18</ion-col>
      <ion-col>vwa</ion-col>
      <ion-col>kavusi</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. sg</ion-col>
      <ion-col>tsa "je suis"</ion-col>
      <ion-col>tsisi "je ne suis pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. sg.</ion-col>
      <ion-col>wa "tu es"</ion-col>
      <ion-col>kusi "tu n'es pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. pl.</ion-col>
      <ion-col>ra "nous sommes"</ion-col>
      <ion-col>karisi "nous ne sommes pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. pl.</ion-col>
      <ion-col>mwa "vous êtes"</ion-col>
      <ion-col>kamusi "vous n'êtes pas"</ion-col>
    </ion-row>
  </ion-grid>
  <p class="ion-padding-horizontal">d) -li- apparaît au présent relatif. Ex. : muntru alío muwade. .. : "la
    personne qui est malade..."
    10) L'expression "avoir"</p>
  <p class="ion-padding-horizontal">Il se construit avec la copule "être" à laquelle on ajoute l'élément na
    "avec". Ex. : tsiná : "j'ai" ; muntru aliona mwana... : "celui qui a un
    enfant" ; ríka na magari maí1i : nous avions deux voitures.</p>
  <p class="ion-padding-horizontal">Le tableau suivant donne les accords à l'inaccompli-présent:</p>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>classes & personnes</ion-col>
      <ion-col>affirmatif il~elle a / ils~elles ont</ion-col>
      <ion-col>négatif il~elle n'a pas / ils~elles n'ont pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>aná</ion-col>
      <ion-col>kásina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2</ion-col>
      <ion-col>wána</ion-col>
      <ion-col>kawásina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>3</ion-col>
      <ion-col>úna</ion-col>
      <ion-col>kaúsina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col>ína</ion-col>
      <ion-col>kaísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>5</ion-col>
      <ion-col>lína</ion-col>
      <ion-col>kalísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>6</ion-col>
      <ion-col>yána</ion-col>
      <ion-col>kayásina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col>shína</ion-col>
      <ion-col>kashísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>8</ion-col>
      <ion-col>zína</ion-col>
      <ion-col>kazísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>9</ion-col>
      <ion-col>ína</ion-col>
      <ion-col>kaísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>10</ion-col>
      <ion-col>zína</ion-col>
      <ion-col>kazísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>11</ion-col>
      <ion-col>úna</ion-col>
      <ion-col>kaúsina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>15</ion-col>
      <ion-col>ína</ion-col>
      <ion-col>kaísina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>16, 17, 18</ion-col>
      <ion-col>vúna</ion-col>
      <ion-col>kavúsina</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. sg</ion-col>
      <ion-col>tsiná "j'ai"</ion-col>
      <ion-col>tsisina "je n'ai pas</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. sg.</ion-col>
      <ion-col>uná "tu as"</ion-col>
      <ion-col>kúsina "tu n'as pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>1ère pers. pl.</ion-col>
      <ion-col>rína "nous avons"</ion-col>
      <ion-col>karísina "nous n'avons pas"</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>2e pers. pl.</ion-col>
      <ion-col>múva "vous avez"</ion-col>
      <ion-col>kamúsina "vous n'avez pas"</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>