<ion-header>
<ion-toolbar>
  <ion-title>
    Lagua
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
<h1><ion-icon class="ion-arrow-back-position" size="large" name="arrow-back-circle-outline" [routerLink]="['/tabs/lessons']"></ion-icon> Accords des classes</h1>
<h2>1) Les déterminants.</h2>
<p>Ce sont :</p>
<h3>a) les pré-préfixes :</h3>
<p>Ce sont des éléments qui précèdent le préfixe de classe et qui permettent
de donner au nom un sens défini, déterminé. Le mot désigné est connu ou
reconnu par l'interlocuteur. Ex. : muntru "une personne", <u>u</u>muntru "la
personne (celle dont on a déjà parlé)" ; nkuhu "une poule", <u>i</u>nkuhu "la
poule (celle qu'on a déjà mentionnée, celle qui est connue de votre
interlocuteur). L'emploi du pré-préfixe entraîne ou s'accompagne souvent
de l'emploi d'un démonstratif ou d'un possessif après le nom.</p>
<h3>b) Les adjectifs :</h3>
<p>Les adjectifs (qualiftcatifs et numéraux) prennent généralement le même
préfixe que le nom qu'ils déterminent. Les accords en classe 5 et 9/10
posent parfois problème. Ex. : <u>mu</u>ntru <u>mu</u>zuri "une jolie personne",
<u>wa</u>ntru <u>wa</u>zuri "de jolies personnes". Mais on a : gari <u>dzú</u>zuri "une belle
voiture", nguo <u>ndzu</u>zuri "un joli vêtement" ou "de jolis vêtements". Outre ces accords souvent imprévisibles, certains adjectifs voient
leur consonnes initiales alterner avec d'autres. Compte-tenu de cette particularité et de son caractère parfois imprévisible, l'entrée du mot dans
le lexique sera complétée des accords de ces trois classes.</p>
<h3>c) les démonstratifs :</h3>
<p>Le shindzuani connaît trois types de démonstratifs selon le degré
d'éloignement de l'objet désigné: le proche -ni ou -nu "ceci, ce ci",
l'intermédiaire --o (qui s'accorde sur deux paradigmes; l'objet désigné
n'est pas très éloigné) et l'éloigné -le "cela, ce...là-bas". Ex. : shintru <u>sh</u>ini
"cet objet-ci", shintru <u>shi</u>sho "cet objet-là" et shintru <u>shi</u>le "cet objet là-bas".</p>
<p>Dans les contes et les narrations, ces trois démonstratifs (plus
particulièrement l'intermédiaire et l'éloigné) peuvent être employés comme
des démonstratifs de référence: shintru <u>shi</u>sho "l'objet en question",
djini lile "le djinn en question".</p>
<p>Il convient ici de s'attarder un tout petit peu sur les 3 classes locatives 16,
17 et 18. Si, sur le plan morphologique, elles ne présentent pas de
difficulté particulière, il me semble par contre utile de préciser les valeurs
sémantiques qui les distinguent:</p>
<p>- les 3 formes d'accords de la classe 16 indiquent des endroits très précis et
bien délimités. Ces accords présentent les trois degrés vus ci-dessus: vani
ou vanu "id", vavo "là" et vale "là-bas",
- les formes d'accords des classes 17 et 18 indiquent des endroits moins
précis et certainement plus vastes que pour la classe 16. Ces deux classes
semblent apparaître comme en opposition de nombre singulier/pluriel. On
a ainsi:</p>
<p>cLl7 : hunu "ici, par ici"
hule "là-bas, par là-bas (un endroit
qu'on voit)"
hoho "là-bas (un endroit qu'on ne
voit pas)"
munu "ici, partout ici"
mule "là-bas, partout là-bas (toute
une région qu'on voiO"
momo "là-bas, partout là-bas (toute
une région qu'on ne voit pas)"</p>
<h3>d) le connecttf -a :</h3>
<p>C'est un élément grammatical qui introduit un complément de nom. Ex. :
umwana <u>wá</u> shekhi "le fils du cheikh", mindru <u>yá</u> mbuzi "pattes de
chèvres".</p>
<h3>e) les possessifs :</h3>
<p>Les possessifs sont construits à partir du connectif -a qui s'accorde
normalement, suivi d'un pronom substitutif qui ne peut s'employer que
dans ce contexte. Ces pronoms, que j'appelle possessifs, sont pour les premières et deuxièmes personnes: -ngu "moi", -ho "toi", -tru "nous" et
-nyu "vous". Ex. : mwana <u>wa</u>ngu "mon enfant (Litt. l'enfant de moi) ;
shintru <u>sha</u>ngu "ma chose (Litt. : la chose de moi, mme waho "ton mari
(Litt : le mari de toi)...
Pour les pronoms possessifs des autres classes, voir le tableau de la page
24.</p>
<h3>j) les indéfinis et les interrogatifs :</h3>
<p>Ils obéissent aux mêmes accords que les démonstratifs et le connectjf. Ex. : muntru <u>w</u>ontsi "tout homme, quiconque", shintru <u>sh</u>ontsi "tout objet,
objet quelconque" ; muntru <u>ú</u>vi ? : "quel homme ?", shintru <u>shi</u>vi ? :
"quel objet ?"</p>
<h2>Les verbaux.</h2>
<p>Dans la conjugaison, les verbes doivent obligatoirement avoir un préfixe
sujet, en accord de classe avec le nom sujet (sauf pour les premières et
deuxièmes personnes où on a les pronoms personnels). Ils peuvent aussi
recevoir un préfixe, dit traditionnellement "infixe-objet" (remplissant la
fonction d'objet). Ce dernier précède immédiatement le radical verbal. Ex.
umwána <u>a</u>sinwa lidzía "l'enfant boit le lait" ; umwana <u>a</u>si<u>li</u>nwa "l'enfant le
boit".</p>

<p>Les principaux accords sont résumés dans le tableaux ci-dessous:</p>

<!-- tableaux -->
</ion-content>
