<ion-content [fullscreen]="true">
  <ion-grid class="ion-grid-header">
    <ion-row class="ion-text-center ion-padding-top">
      <ion-col>
        <div>
          <div class="border-white-tabs" id="popover-profil">
            <div class="img-box">
              <img *ngIf="user?.photoURL" [src]="user?.photoURL">
              <ion-icon class="ion-position-icon" *ngIf="!user?.photoURL" [src]="user?.photoURL" name="person-outline"></ion-icon>
            </div>
          </div>
        </div>
        <p>{{user?.displayName}}</p>
        <p class="ion-no-padding ion-margin-bottom">
          <i><span class="ion-padding-left">{{user?.email}} </span><ion-icon name="pencil-sharp"></ion-icon></i>
        </p>
        <p>Niveau actuel : {{getActualLevelByCode()}}</p>
        <p>Langue en apprentissage : {{user?.learn?.text}} / <i>{{user?.learn?.translate}}</i></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-grid-content">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header class="ion-weekly-calendar">
            <ion-card-title class="ion-text-center">Tendance hebdomadaire</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-calendar-content">
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 1 }">
                <div style="color: rgb(154, 167, 179)">Lu</div>
                <div class="ion-calendar-activity">0</div>
              </div>
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 2 }">
                <div style="color: rgb(154, 167, 179)">Ma</div>
                <div class="ion-calendar-activity">0</div>
              </div>
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 3 }">
                <div style="color: rgb(154, 167, 179)">Me</div>
                <div class="ion-calendar-activity">0</div>
              </div>
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 4 }">
                <div style="color: rgb(154, 167, 179)">Je</div>
                <div class="ion-calendar-activity">0</div>
              </div>
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 5 }">
                <div style="color: rgb(154, 167, 179)">Ve</div>
                <div class="ion-calendar-activity">0</div>
              </div>
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 6 }">
                <div style="color: rgb(154, 167, 179)">Sa</div>
                <div class="ion-calendar-activity">0</div>
              </div>
              <div class="ion-calendar-day" [ngClass]="{ 'is-today' : currentDate.getUTCDay() === 7 }">
                <div style="color: rgb(154, 167, 179)">Di</div>
                <div class="ion-calendar-activity">0</div>
              </div>
            </div>
          </ion-card-content>
        </ion-card></ion-col>
      <ion-col>
        <div class="ion-display-flex">
          <div class="ion-dashboard-bloc">
            <ion-card class="ion-dashboard">
              <ion-card-header>
                <ion-card-title>
                  <span class="ion-card-title">1</span>
                  <span class="ion-float-right"><ion-icon size="large" name="thumbs-up-outline"></ion-icon></span>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-card-content-level">
                Evaluations positives
              </ion-card-content>
            </ion-card>
          </div>
          <div class="ion-dashboard-bloc">
            <ion-card class="ion-dashboard">
              <ion-card-header>
                <ion-card-title>
                  <span class="ion-card-title">2j 3h</span>
                  <span class="ion-float-right"><ion-icon size="large" name="stopwatch-outline"></ion-icon></span>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-card-content-level">
                Temps actifs sur l'appli
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list class="ion-padding-bottom">
          <ion-item [routerLink]="['']" routerLinkActive="selected" lines="full"><ion-icon slot="start"
              name="settings-outline"></ion-icon>Paramètres de compte
          </ion-item>
          <ion-item [routerLink]="['']" routerLinkActive="selected" lines="full"><ion-icon slot="start"
              name="people-outline"></ion-icon>Invite des
            amis
          </ion-item>
          <ion-item [routerLink]="['']" routerLinkActive="selected" lines="none"><ion-icon slot="start"
              name="help-circle-outline"></ion-icon>Aide
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="lagua" expand="block" (click)="logout()"><ion-icon slot="start" name="log-out-outline"></ion-icon>Se
          déconnecter</ion-button>
        <ion-button expand="block" color="danger" class="ion-margin-bottom"><ion-icon slot="start"
            name="trash-outline"></ion-icon>Supprimer
          votre compte</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>