ion-content {
    --background: #eef1ee;
}

ion-content>div {
    background: var(--ion-background-light-color);
}

ion-toolbar {
    --background: #46895c;
    --color: white;
    --min-height: 80px;
}

ion-list {
    background-color: transparent;
    width: 100%;
}

ion-item {
    --background: #eef1ee;
}

span {
    color: #15601b;
    font-weight: bold;
    font-style: italic;
}

.ion-header-accordion {
    font-weight: bold;
}