//coundown
app-countdown {
    height: 100%;
    z-index: 2;
}

//memo
app-memo {
    height: 100%;
}

//qcm
app-qcm {
    height: 100%;
}

//translate
app-translate {
    height: 100%;
}

//spell
app-spell {
    height: 100%;
}
