<!-- COUNTDOWN -->
<app-countdown (activeEvent)="setCountDownActive($event)"></app-countdown>

<!-- MEMO -->
<app-memo [newReview]="newReview" class="ion-page" *ngIf="typeDisplay === 'C' && !countDownActive" (nextQuestionEvent)="nextQuestion($event)"></app-memo>

<!-- QCM -->
<app-qcm [newReview]="newReview" class="ion-page" *ngIf="typeDisplay === 'Q' && !countDownActive" (nextQuestionEvent)="nextQuestion($event)"></app-qcm>

<!-- TRANSLATE -->
<app-translate [newReview]="newReview" class="ion-page" *ngIf="typeDisplay === 'T' && !countDownActive" (nextQuestionEvent)="nextQuestion($event)"></app-translate>

<!-- SPELL -->
<app-spell [newReview]="newReview" class="ion-page" *ngIf="typeDisplay === 'S' && !countDownActive" (nextQuestionEvent)="nextQuestion($event)"></app-spell>