<!-- MEMO -->
<ion-grid *ngIf="typeDisplay === 0" class="ion-memo ion-text-center">
  <ion-row>
    <ion-col>
      <h5>Comment dites-vous cela en comorien ?</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="10">
      <ion-card (click)="displayAnswer = true">
        <img class="ion-image-card" src="{{question?.img}}" />
        <ion-card-header>
          <ion-card-title *ngIf="displayAnswer" color="{{correct}}">{{question?.text}}</ion-card-title>
          <ion-card-subtitle [ngClass]="{ 'ion-subtitle' : !displayAnswer}">{{question?.translate}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <div class="ion-popover" *ngIf="isOpen && !displayAnswer">
        <p>Cliquez pour vérifier la traduction
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="displayAnswer">
      <div>
        <h5>Vous vous en souvenez bien ?</h5>
        <div>
          <ion-button color="danger" class="ion-margin-end" (click)="isCorrect(false)">
            <ion-icon color="dark" slot="start" name="close-outline"></ion-icon>
            Non
          </ion-button>
          <ion-button color="success" class="ion-margin-start" (click)="isCorrect(true)">
            <ion-icon color="dark" slot="start" name="checkmark-outline"></ion-icon>
            Oui
          </ion-button>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- QCM -->
<ion-grid *ngIf="typeDisplay === 1" class="ion-qcm ion-text-center">
  <ion-row>
    <ion-col>
      <h5>Complétez les espaces vides</h5>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-card>
        <img src="{{question?.img}}" />
        <ion-card-header>
          <ion-card-title class="ion-text-qcm">{{answerSelected?.choice}}</ion-card-title>
          <ion-card-subtitle>{{question?.translate}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{question?.description}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list class="ion-no-padding">
        <ion-radio-group [allowEmptySelection]="true" [value]="radio_group">
          <ion-item
            [ngClass]="{ 'error' : !c?.answer && displayAnswer && secondChance, 'success' : c?.answer && displayAnswer && secondChance }"
            *ngFor="let c of question?.choices" (click)="choiceSelected(c)">
            <ion-label>{{c?.choice}}</ion-label>
            <ion-radio slot="end" name="{{c?.choice}}" value="{{c?.choice}}" [disabled]="displayAnswer"
              [ngClass]="{ 'ion-error' : !c?.answer && displayAnswer}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-footer class="ion-no-border"  *ngIf="typeDisplay === 1">
  <ion-toolbar [ngClass]="{ 'ion-text-center' : !displayAnswer || answerSelected?.answer || secondChance }">
    <ion-button *ngIf="!displayAnswer" [disabled]="!answerSelected" color="tertiary" class="ion-margin"
      (click)="validate()">
      Valider
    </ion-button>
    <ion-button *ngIf="displayAnswer && !secondChance && !answerSelected?.answer" color="danger" class="ion-margin"
      (click)="tryAgain()">
      Réessayer
    </ion-button>
    <ion-button *ngIf="displayAnswer" color="lagua"
      [ngClass]="{ 'ion-float-right' : !answerSelected?.answer && !secondChance }" class="ion-margin"
      (click)="continue()">
      Continuer
      <!-- <ion-icon slot="end" name="caret-forward-outline"></ion-icon> -->
    </ion-button>
  </ion-toolbar>
</ion-footer>

<!-- TRANSLATE -->
<ion-grid class="ion-translate" *ngIf="typeDisplay === 2">
  <ion-row class="ion-container-translate">
    <ion-col>
      <h3>Traduisez la phrase</h3>
      <div class="ion-translate">
        <img width="30" src="{{translateSetting?.playSrc}}" />
        <ion-text class="ion-padding-start"><span class="ion-translate-text">{{question?.translate}}</span><span
            *ngIf="question?.description"><i> - {{question?.description}}</i></span></ion-text>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-container-response">
    <ion-col>
      <div class="ion-background-horizontal-line">
        <ion-button *ngFor="let r of response; let index = index" (click)="removeWord(r, index)"
          [ngClass]="{ 'error' : error, 'success': !error && displayAnswer }">{{r}}</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="ion-container-choice ion-align-items-center">
    <ion-col>
      <div class="ion-text-center">
        <ion-button [disabled]="response.indexOf(c.choice) !== -1"
          *ngFor="let c of question?.choices; let index = index"
          (click)="addWord(c?.choice, index)">{{c?.choice}}</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-footer class="ion-no-border" *ngIf="typeDisplay === 2">
  <ion-toolbar [ngClass]="{ 'ion-text-center' : !displayAnswer || !error || secondChance }">
    <ion-button *ngIf="!displayAnswer" [disabled]="!response.length" color="tertiary" class="ion-margin"
      (click)="validate()">
      Valider
    </ion-button>
    <ion-button *ngIf="displayAnswer && !secondChance && error" [ngClass]="{ 'ion-float-left' : !secondChance }"
      color="danger" class="ion-margin" (click)="tryAgain()">
      Réessayer
    </ion-button>
    <ion-button *ngIf="displayAnswer" color="lagua" [ngClass]="{ 'ion-float-right' : error && !secondChance }"
      class="ion-margin" (click)="continue()">
      Continuer
      <!-- <ion-icon slot="end" name="caret-forward-outline"></ion-icon> -->
    </ion-button>
  </ion-toolbar>
</ion-footer>