ion-card {
    margin: 0% 15%;
    padding-top: 12px;
    transition-duration: 0.1s;
    padding: 20px 2px 5px 2px;
}

ion-card:active {
    background: rgb(244, 244, 246);
}

ion-card-header {
    padding: 12px 0;
}

div.ion-position-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ion-content-center {
    height: 80%;
}

img {
    position: relative;
    width: 60px;
}

.left {
    left: 10px;
}

ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -moz-box-align: start;
    box-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-align-content: start;
    -moz-align-content: start;
    align-content: flex-start;
    -ms-flex-line-pack: start;
    width: 100%;
    padding: 0;
}

li {
    list-style: none;
    min-width: 50%;
    max-width: 50%;
    flex: 1;
    position: relative;
}