<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="subHeader ion-padding ion-margin-vertical ion-text-center">
      <h1 class="headline ion-no-margin">Leçon <ion-icon name="reader-outline"></ion-icon></h1>
      <p class="subHeadline">Découverte - Cours Débutant / Intermédiaire</p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-background-content">
    <div>
      <ion-card *ngFor="let lesson of lessons" class="ion-flex" (click)="goTo(lesson.navigate, userLesson.order >= lesson.order)">
        <div *ngIf="userLesson.order >= lesson.order" class="ion-size-img">
          <img class="ion-icon-src ion-float-right" width="50" src="{{lesson.src}}">
        </div>
        <div *ngIf="userLesson.order < lesson.order" class="ion-lock-lesson ion-custom-lock">
          <ion-icon class="ion-lock-closed" name="lock-closed-outline"></ion-icon>
        </div>
        <ion-card-header>
          <ion-card-title [ngClass]="{'ion-lock-title': userLesson.order < lesson.order}">{{lesson.title}}</ion-card-title>
          <ion-card-subtitle>{{lesson.subTitle}}</ion-card-subtitle>
        </ion-card-header>
        <div [ngClass]="{'ion-lock-lesson': userLesson.order < lesson.order}" class="ion-size-arrow">
          <ion-icon size="large" color="{{userLesson.order < lesson.order ? 'medium' : 'lagua'}}" name="chevron-forward-outline"></ion-icon>
        </div>
      </ion-card>

      <!-- <ion-card class="ion-flex">
        <div class="ion-lock-lesson ion-custom-lock">
          <ion-icon class="ion-lock-closed" name="lock-closed-outline"></ion-icon>
        </div>
        <ion-card-header class="ion-padding-horizontal">
          <ion-card-title>L'accent</ion-card-title>
          <ion-card-subtitle>langue accentogène, non-accentogène</ion-card-subtitle>
        </ion-card-header>
        <div class="ion-lock-lesson ion-size-arrow"><ion-icon size="large" name="chevron-forward-outline"></ion-icon></div>
      </ion-card> -->
    </div>
  </div>
</ion-content>