ion-toolbar {
    --ion-background-color: #1a6921;
    --color: #ffffff;
}

ion-content {
    --ion-background-color: #1a6921;
    --color: #ffffff;
}

ion-card {
    --background: #ffffff;
    border-radius: 15px;
}

ion-card-header {
    text-align: center;
    padding: 16px 0;
}

ion-card-header.ion-unlock-lesson {
    width: 70%;
}

ion-card-header.ion-lock-lesson {
    width: 70%;
}

ion-card-title {
    font-size: 17px;
    color: #1a6921;
}

ion-card-subtitle {
    font-size: 13px;
}

.ion-flex:first-child {
    margin-top: 0px !important;
}

.ion-flex {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ion-size-arrow {
    width: 12.5%;
    text-align: center;
}

.ion-size-img {
    width: 17.5%;
}

.ion-lock-lesson {
    opacity: 0.7;
}

.ionic-category {
    background: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 16px;
    box-shadow: 0 0 20px #284b7c14;
    padding: 1px 12px 16px
}

.ion-link-between-card {
    width: 5px;
    height: 50px;
    background: #1a6921;
    margin-top: 0;
    position: relative;
    margin-left: 50%;
}

.ion-custom-lock {
    text-align: center;
    width: 15%;
}

.ion-lock-closed {
    background: lightgray;
    padding: 7px;
    border-radius: 25px;
}

.headline {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.25;
    padding: 0px 5px;
}

.subHeadline {
    color: #ffffff;
    margin: 5px 0px 5px 5px !important;
}

.ion-icon-src {
    padding-left: 8px;
  }