ion-content {
    --background: #eef1ee;
}

ion-content>div {
    background: var(--ion-background-light-color);
}

ion-toolbar {
    --background: url(/assets/img/background.png) 0% / 150%;
    --color: white;
    --min-height: 80px;
}

ion-list {
    background-color: transparent;
    width: 100%;
}

ion-list-header {
    font-weight: bold;
}

ion-item {
    --background: #eef1ee;
}

ion-card {
    --background: #8ebf8a;
    ion-card-title {
        --color: #ffffff;
    }
    ion-card-subtitle {
        --color: #eef1ee;
    }
}