<!-- <ion-header class="ion-no-border"> -->
<ion-toolbar>
  <ion-grid class="ion-no-margin">
    <ion-row>
      <ion-col size="9">
        <div class="ion-margin-start ion-padding-top">
          <h4>Kwezi</h4>
          <h5 class="ion-subtitle">{{user?.displayName}} !</h5>
        </div>
      </ion-col>
      <ion-col size="3" class="ion-padding-end ion-display-flex">
        <div class="border-white-tabs " id="popover-profil">
          <div class="img-box">
            <img *ngIf="user?.photoURL" [src]="user?.photoURL">
            <ion-icon size="large" *ngIf="!user?.photoURL" [src]="user?.photoURL" name="person-outline"></ion-icon>
          </div>
        </div>
        <ion-popover trigger="popover-profil" class="ion-custom-top-popover">
          <ng-template>
            <ion-content>
              <ion-list>
                <div class="ion-padding-horizontal">
                  <h5 class="ion-margin-top">{{user?.displayName}}</h5>
                  <div class="ion-margin-bottom">{{user?.email}}</div>
                </div>
                <ion-item button (click)="goTo('/tabs/update-cv', true)"><ion-icon class="ion-padding-end"
                    name="settings-outline"></ion-icon>Paramètres</ion-item>
                <ion-item button (click)="goTo('/tabs/recrute', true)"><ion-icon class="ion-padding-end"
                    name="bar-chart-outline"></ion-icon>Mon activité</ion-item>
                <ion-item button (click)="goTo('/tabs/account', true)"><ion-icon class="ion-padding-end"
                    name="flag-outline"></ion-icon>Mes langues</ion-item>
                <ion-item><ion-icon name="brush-outline" class="ion-padding-end">
                  </ion-icon>Thème {{getTheme === 'moon' ? 'sombre' : 'clair'}}<ion-icon name="{{getTheme}}" slot="end"
                    (click)="changeMode()"></ion-icon></ion-item>
                <ion-item button lines="none" detail="false" (click)="logout()"><ion-icon class="ion-padding-end"
                    name="log-out-outline"></ion-icon>Déconnexion</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-margin-horizontal ion-margin-bottom">
        <p class="ion-text-progress">Votre progression</p>
        <div aria-valuemax="100" aria-valuemin="0" role="progressbar" data-state="indeterminate" data-max="100"
          class="ion-progress">
          <div data-state="indeterminate" data-max="100" value="1" class="ion-range-progress" style="width: 6%;">
            <span class="ion-position-cursor">1%</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
<!-- </ion-header> -->
<ion-content [fullscreen]="true">
  <div class="ion-content-home">
    <div>

      <div class="ion-padding-top-min">
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-text-bold">
                <ion-col class="ion-no-padding-left ion-text-left">
                  Vocabulaire
                </ion-col>
                <ion-col class="ion-text-right">
                  1383 mot au total
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-no-padding">
                  <div class="ion-label-progress ion-label-progress-warning">
                    <ion-text color="warning" class="ion-text-left ion-text-bold">9%</ion-text>à apprendre
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <div aria-valuemax="100" aria-valuemin="0" role="progressbar" data-state="indeterminate"
                    data-max="100" class="ion-vocabulary-bar-red">
                  </div>
                  <div aria-valuemax="100" aria-valuemin="0" role="progressbar" data-state="indeterminate"
                    data-max="100" class="ion-vocabulary-bar-orange">
                  </div>
                  <div aria-valuemax="100" aria-valuemin="0" role="progressbar" data-state="indeterminate"
                    data-max="100" class="ion-vocabulary-bar-green">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="ion-label-progress-bottom-position">
                <ion-col size="6">
                  <div class="ion-label-progress ion-label-progress-danger">
                    <ion-text color="danger" class="ion-text-left ion-text-bold">17%</ion-text>à réviser
                  </div>
                </ion-col>
                <ion-col size="6">
                  <div class="ion-label-progress ion-label-progress-success ion-text-right">
                    <ion-text color="success" class="ion-text-bold">74%</ion-text>appris
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>

      <div class="ion-display-flex">
        <div class="ion-dashboard-bloc">
          <ion-card class="ion-dashboard">
            <ion-card-header>
              <ion-card-title>
                <span class="ion-card-title">4</span>
                <span class="ion-float-right"><ion-icon size="large" name="checkmark-outline"></ion-icon></span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-card-content-level">
              Lessons terminées
            </ion-card-content>
          </ion-card>
        </div>
        <div class="ion-dashboard-bloc">
          <ion-card class="ion-dashboard">
            <ion-card-header>
              <ion-card-title>
                <span class="ion-card-title">20</span>
                <span class="ion-float-right"><ion-icon size="large" name="book-outline"></ion-icon></span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-card-content-level">
              Cours visualisés
            </ion-card-content>
          </ion-card>
        </div>
      </div>

      <div class="ion-unlock-lesson">
        <ion-slides [options]="slideOpts">
          <ion-slide *ngFor="let lesson of recommendedLesson; let index = index">
            <ion-card class="ion-no-margin-bottom" [ngClass]="{'ion-no-margin-middle': !(index === 0 || index === recommendedLesson.length - 1),'ion-no-margin-right': index === 0, 'ion-no-margin-left': index === recommendedLesson.length - 1}">
              <img alt="Silhouette of mountains" src="assets/img/home/book_{{index + 1}}.png" />
              <!-- <ion-card-header>
                <ion-card-title>{{lesson.title}}</ion-card-title>
              </ion-card-header> -->
              <ion-card-content>
                <div class="ion-font-weight-bold">{{lesson.title}}</div>
                <div class="ion-padding-top-min">{{lesson.subTitle}}</div>
              </ion-card-content>
              <ion-button size="small" class="ion-button ion-padding-end ion-float-right ion-button-position"
                fill="clear" (click)="goTo('/tabs/lessons/'+lesson.navigate, false)">Voir la leçon</ion-button>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </div>

      <div class="ion-unlock-lesson">
        <ion-card>
          <ion-card-header>
            <ion-card-title>C'est l'heure de réviser</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="">Visiualiser les précédentes leçons</div>
            <div class="">Améliorer votre score en faisant des tests</div>
          </ion-card-content>
          <ion-button size="small" class="ion-button ion-padding-end ion-float-right ion-button-position"
            fill="clear">Réviser</ion-button>
        </ion-card>
      </div>

      <div class="ion-unlock-lesson">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Prochain cours à visualiser</ion-card-title>
            <ion-card-subtitle>Cours 1 : Leçon 2 - Kwezi! 2e partie/<i>Salut !</i></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="ion-custom-text">Vous allez apprendre :</div>
            <div class="ion-custom-text">à demander à quelqu'un comment il va</div>
            <div class="ion-custom-text">à dire que vous allez bien</div>
            <div class="ion-custom-text">à utiliser les pronoms you et I</div>
          </ion-card-content>
          <ion-button size="small" class="ion-button ion-padding-end ion-float-right ion-button-position"
            fill="clear">Accéder au cours</ion-button>
        </ion-card>
      </div>

      <!-- <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Content de vous revoir, Brady</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h3 class="ion-subtitle-custom">Prochaine cours à visualiser</h3>
            <div class="ion-content-lesson ion-margin-bottom">
                <p>Découverte (A1) - Cours 1 : Leçon 2</p>
                <p>Hi! 2e partie</p>
                <p>Salut !</p>
                <p>Vous allez apprendre :</p>
                <p>- à demander à quelqu'un comment il va</p>
                <p>- à dire que vous allez bien</p>
                <p>à utiliser les pronoms you et I</p>
                <ion-button>Commencer la leçon</ion-button>
            </div>

            <h3 class="ion-subtitle-custom">C'est l'heure de réviser</h3>
            <div class="ion-content-lesson ion-margin-bottom">
                <p>Visiualiser les précédentes leçons</p>
                <p>Améliorer votre score en faisant des tests</p>
                <ion-button>Réviser</ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </div> -->

    </div>
  </div>
</ion-content>