<ion-header>
  <ion-toolbar [ngStyle]="{'padding-top': isOverlay ? '20px' : '0px' }">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>La conjugaison</ion-title>
    <ion-icon class="ion-margin-end ion-close-icon" slot="end" size="medium" name="close-outline"
      [routerLink]="['/tabs/home']"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="ion-margin-vertical">
    <app-accordion [dialectCode]="'km'" [lessonCode]="'CONJ'"></app-accordion>
  </div>
  <div class="ion-text-center ion-margin-vertical">
    <ion-button color="lagua" (click)="saveLesson()">Terminer le cours</ion-button>
  </div>
</ion-content>